.project\/add_32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.project\/delete_32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-33px 0px;
}
.project\/draft_32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-66px 0px;
}
.project\/publish_32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-99px 0px;
}
