﻿@{
    ViewBag.Title = "Página não encontrada";
}

<h3 class="space-container">@ViewBag.Title</h3>

<div id="error-info" class="space-container">
    <img src="@Url.Content("~/Images/404.png")" alt="Erro" />
    <p>A página requisitada não foi encontrada.</p>
    <p id="error-details"><a href="@Request["aspxerrorpath"]" title="Página não encontrada">@Request["aspxerrorpath"]</a></p>
    <p id="error-feedback">Esta solicitação foi registrada e enviada a nossa equipe!</p>
    <p>Você pode tentar mais tarde, se o problema persistir, entre em @Html.ActionLink("contato", "Contact", "Home") com a <a href="http://bindsolution.com" title="bind solution" target="_blank">bind solution</a>.</p>
</div>
