@using System.ServiceModel.Syndication
@using Microsoft.Web.Samples
@model IEnumerable<SyndicationItem>


@if (Model != null && Model.Count() > 0)
{
        foreach (var blogEntry in Model)
        {
            <li>
                <div class="blog-date">
                    @Sprite.Image("~/App_Sprites/home/calendar.png", new { alt="Calendário" })
                    <span class="blog-dateDay">@blogEntry.PublishDate.Day</span>
                    <span class="blog-dateMonth">@blogEntry.PublishDate.ToString("MMMM").Substring(0, 3)</span>
                </div>
                <div class="blog-text">
                    <a href="@blogEntry.Links[0].Uri" target="_blank" title="@blogEntry.Title.Text">
                        <h4>@blogEntry.Title.Text</h4>
                    </a>
                    <p>@Html.Raw(blogEntry.Summary.Text)</p>
                </div>
            </li>
        }
    
}
else
{
    <li>
        <p class="sub-title space-container">Nenhuma entrada no blog</p>
    </li>
}
