@using BindSolution.Data
@using BindSolution.Infra
@using Microsoft.Web.Samples
@model IEnumerable<Project>

@if (Model != null && Model.Count() > 0)
{
    <ul class="projects">
        @foreach (var project in Model)
        {
            var pathFormat = Path.Combine(Constants.ProjectImageTumbsPathFormat, "{1}");
            var realtivePathImage = string.Format(pathFormat, project.ID, project.Logo);
            var webImage = new WebImage(Server.MapPath(realtivePathImage));

            <li>
                <div class="item">
                    <a href="@Url.Action("About", "Project", new { url = project.Keyword })" class="frame" title="@project.Description">
                        <div>
                            <img src="@Url.Content(realtivePathImage)" alt="@project.Name" width="@webImage.Width" height="@webImage.Height" />
                        </div>
                        <span class="title">@project.Name</span>
                    </a>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="no-data">
        @Sprite.Image("~/App_Sprites/home/empty.png")
		<p>nenhum projeto cadastrado!</p>
	</div>    
}