﻿@using BindSolution.Data.Infra
@using BindSolution.Framework.Web.Extensions;
<ul id="top-menu">
            
    @*     
    <li>
        <p>Generate at: @DateTime.Now</p>
    </li>
    *@

    @if (Request.IsAuthenticated)
    {
        <li id="username-menu">
            <p>@User.GetUser().Name | @User.Identity.Name</p>
            @if (User.IsInRole(RoleConstants.Administrators))
            {
                <a href="/elmah.axd" target="_blank" class="link" title="Log de erros">Elmah</a>
            }
            @Html.ActionLink("Sair", "LogOut", "Account", null, new { @class = "link" })
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink("Login", "LogOn", "Account", new { returnUrl = HttpContext.Current.Request.RawUrl }, null)
        </li>
    }


</ul>