@model List<TwitterDataViewModel>


@if (Model != null && Model.Count() > 0)
{
    foreach (var twitter in Model)
    {
        <li>
            <div class="content">
                @Html.Raw(twitter.Content)
            </div>
            <p class="time message">@twitter.Updated</p>
        </li>
    }
}
else
{
    <p class="sub-title">Nenhum twitter</p>
}