﻿@using Microsoft.Web.Samples
@model HandleErrorInfo
@{
    ViewBag.Title = "Erro Interno";
}

<h3 class="space-container">@ViewBag.Title</h3>

<div id="error-info" class="space-container">
    @Sprite.Image("~/App_Sprites/home/error.png", new { alt="Página não encontrada" })
    <p>Ocorreu o seguinte erro ao tentar executar a ação.</p>
    <p id="error-details">@Model.Exception.Message</p>
    <p id="error-feedback">Este erro foi registrado e enviado a nossa equipe!</p>
    <p>Você pode tentar executar a ação novamente, se o problema persistir, entre em @Html.ActionLink("contato", "Contact", "Home") com a <a href="http://bindsolution.com" title="bind solution" target="_blank">bind solution</a>.</p>
</div>