﻿@model LogOnViewModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@section scripts{

	@Scripts.Validate()
}


@if (!Request.IsAjaxRequest())
{
    <div class="space-container header-page">
	    <h3>@ViewBag.Title</h3>
	    <p class="sub-title">Digite seu email e senha para autenticar-se no site.</p>
    </div>
}


@using (Html.BeginForm())
{
	@Scripts.JQueryErrorTemplate()
	@Html.AntiForgeryToken()

	<fieldset id="logon-fields">
        @if (!Request.IsAjaxRequest())
        {
		    <legend>Autenticação</legend>
        }
		@Html.ValidationSummary(true)
		@Html.EditorForModel()
	</fieldset>

    if (!Request.IsAjaxRequest())
    {
	    <div class="ui-dialog-buttonset">
		    <input type="submit" value="Logar" title="Logar" />
	    </div>
    }

}