/* variables */
$bind-darkgreen: #38761D;
$bind-lightgreen: #6AA84F;
$bind-light: #FBFBFB;
$bind-fontName: Bauhaus;
$font-color: #414141;

$title-back: #F4FFF4;
$wrap-bordercolor: #C5E0C5;
$body-color: lighten($bind-lightgreen, 48%);

$field-backcolor: lighten($bind-darkgreen, 70.5%);
$field-bordercolor: darken($field-backcolor, 12%);
$gray-color: lighten($font-color, 22%);

/* mixin */
@mixin inline-message($font-size : 12px) 
{
	color: $gray-color;
	font-size: $font-size;
}

@mixin font-bind() 
{
	font-family: quote($bind-fontName), arial
}

@mixin center-margin($width, $margin-tb: 0)
{
	margin: $margin-tb auto;
	width: $width;
}

/* mixin for CSS3 */
@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    behavior: url(/Infra/PIE.htc);
    position: relative\9;
}

@mixin box-shadow($inset:"",  $top: 0, $left: 0, $blur: 4px, $color: #D7F2CB)
{
    @if $inset != "" {
        -webkit-box-shadow:$top $left $blur $color $inset;
        -moz-box-shadow:$top $left $blur $color $inset;
        box-shadow:$top $left $blur $color $inset;
    }
    @else {
        box-shadow: $top $left $blur $color;
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
    }
    behavior: url(/Infra/PIE.htc);
}

@mixin transition($item: all, $time: 0.3s, $efect: linear)
{
    -webkit-transition: $item $time $efect;
    -moz-transition: $item $time $efect;
    -o-transition: $item $time $efect;
    -ms-transition: $item $time $efect;
    transition: $item $time $efect; /* CSS3 */    
}

@mixin transform-rotate($val: -45deg)
{
    -webkit-transform: rotate($val);	
    -moz-transform: rotate($val);
    -ms-transform: rotate($val);
    -o-transform: rotate($val);
    transform: rotate($val); /* CSS3 */    
}

@mixin transform-scale($val: 2)
{
    -webkit-transform: scale($val);	
    -moz-transform: scale($val);
    -ms-transform: scale($val);
    -o-transform: scale($val);
    transform: scale($val); /* CSS3 */    
}