/* variables */
/* mixin */
/* mixin for CSS3 */
legend {
  padding: 7px 20px;
  margin: 10px 0;
  color: #38761d;
  font-size: 18px;
  font-family: "Bauhaus", arial; }

fieldset.collection {
  margin: 6px 0;
  border-top: 1px dotted;
  padding: 5px; }
  fieldset.collection .collection-actions {
    padding: 5px 0 0;
    clear: both; }

input[type='text'], input[type='password'], input[type='search'], select, input[type='file'], textarea, .wysiwyg {
  border: 1px solid #d7f2cb;
  padding: 3px 5px;
  background-color: #fdfefc;
  color: #414141;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  behavior: url(/Infra/PIE.htc);
  position: relative\9; }

button, input[type='submit'], .button, .qq-uploader .qq-upload-button {
  background-color: #e2f8e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  behavior: url(/Infra/PIE.htc);
  position: relative\9;
  box-shadow: 0 0 4px #d7f2cb;
  -webkit-box-shadow: 0 0 4px #d7f2cb;
  -moz-box-shadow: 0 0 4px #d7f2cb;
  behavior: url(/Infra/PIE.htc);
  border: 1px solid #c0e6c0;
  display: inline-block;
  color: #618b4e;
  padding: 6px 24px;
  text-decoration: none;
  cursor: pointer; }
  button:hover, input[type='submit']:hover, .button:hover, .qq-uploader :hover.qq-upload-button {
    box-shadow: 0 0 4px #9bd89b;
    -webkit-box-shadow: 0 0 4px #9bd89b;
    -moz-box-shadow: 0 0 4px #9bd89b;
    behavior: url(/Infra/PIE.htc);
    color: #38761d;
    background-color: #e2f8e2; }
  button:active, input[type='submit']:active, .button:active, .qq-uploader :active.qq-upload-button {
    position: relative;
    top: 1px; }

.editor-label, .display-label {
  float: left;
  clear: both;
  margin: 7px 10px 5px 0;
  text-align: right; }

.editor-field, .display-field {
  float: left;
  *float: none;
  margin: 4px 0; }

.display-label {
  font-weight: bold;
  margin: 4px 6px 0 0; }

.display-field {
  margin: 4px; }

.message-field {
  color: #797979;
  font-size: 11px; }

.message-result {
  color: #797979;
  font-size: 12px;
  text-align: center; }

.field-validation-error {
  color: #ff2222;
  text-align: right; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid #ff8888 !important;
  background-color: #ffeeee !important; }

.validation-summary-errors {
  font-weight: bold;
  color: #FF4848;
  margin: 10px 15px;
  clear: both; }
  .validation-summary-errors ul li {
    padding: 0 0 10px; }

.validation-summary-valid {
  display: none; }

.no-data, .no-data p {
  text-align: center;
  margin: 5px 0;
  clear: both;
  color: #797979;
  font-size: 13px; }

.ui-dialog-buttonset {
  clear: both;
  text-align: center;
  padding: 5px 0; }

.userhtml-Container li {
  list-style-type: disc;
  margin-left: 21px; }

.qq-uploader .qq-upload-drop-area {
  padding: 5px;
  border: 2px dotted #D7F2CB;
  margin: 0 0 5px;
  color: #5C5C5C;
  background-color: #f4fff4;
  text-align: center; }
.qq-uploader .qq-upload-drop-area-active {
  background-color: #C0E6C0;
  border-color: #38761D;
  color: #38761D; }
.qq-uploader .qq-upload-list {
  color: #797979;
  font-size: 12px; }
  .qq-uploader .qq-upload-list li {
    padding: 3px;
    list-style-type: disc;
    margin-left: 21px; }
  .qq-uploader .qq-upload-list span {
    padding: 0 3px; }
  .qq-uploader .qq-upload-list .qq-upload-file {
    font-weight: bold; }
  .qq-uploader .qq-upload-list .qq-upload-fail .qq-upload-failed-text {
    display: inline; }
  .qq-uploader .qq-upload-list .qq-upload-failed-text {
    color: #ff2222;
    display: none; }
