@import "_Base";

$field-error-backcolor: #ffeeee;
$field-error-bordercolor: darken($field-error-backcolor, 20%);
$message-error-color: darken($field-error-bordercolor, 20%);


legend {
	padding: 7px 20px;
	margin: 10px 0;
	color: $bind-darkgreen;
	font-size: 18px;
	@include font-bind();
    
}

fieldset.collection {
	margin: 6px 0;
	border-top: 1px dotted;
	padding: 5px;
	.collection-actions {
		padding: 5px 0 0;
		clear: both;
	}
}

input[type='text'], input[type='password'], input[type='search'], select, input[type='file'], textarea, .wysiwyg  {

	border: 1px solid $field-bordercolor;
	padding: 3px 5px;
	background-color: $field-backcolor;
	color: $font-color; 
    @include border-radius(2px);
}

button, input[type='submit'], .button {
	background-color: #e2f8e2;
	@include border-radius(2px);
    @include box-shadow();
	border: 1px solid #c0e6c0;
	display: inline-block;
    color: #618b4e;
	padding: 6px 24px;
	text-decoration: none;
	cursor: pointer;

	&:hover {
        @include box-shadow($color: darken(#c0e6c0, 10%));
        color: $bind-darkgreen;
        background-color: #e2f8e2;
	}
    
	&:active {
		position: relative;
		top: 1px;
	}
}

// Fields container
.editor-label, .display-label {
	float:left;
	clear:both;
	margin: 7px 10px 5px 0;
	text-align: right;
}
.editor-field, .display-field{
	float:left;
    *float:none;
    margin: 4px 0;
}
.display-label {
    font-weight: bold;
    margin: 4px 6px 0 0;
}
.display-field {
    margin: 4px;
}
.message-field {
	@include inline-message(11px);
}
.message-result {
    @include inline-message();
    text-align: center;
}

// Styles for validation
.field-validation-error {
	color: $message-error-color; 
	text-align: right;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid $field-error-bordercolor !important;
	background-color: $field-error-backcolor !important;
}

.validation-summary-errors {
	font-weight: bold;
	color: #FF4848;
	margin: 10px 15px;
	clear: both;
	ul {
		li {
			padding: 0 0 10px;
		}
	}
}
.validation-summary-valid {
	display: none;
}

//Fields
// General calsses
.no-data, .no-data p {
	text-align: center;
	margin: 5px 0;
	clear: both;
	@include inline-message(13px)
}

.ui-dialog-buttonset {
	clear: both;
	text-align: center;
	padding: 5px 0;
}
.userhtml-Container {

    li {
        list-style-type: disc;
        margin-left: 21px;
    }

}
.qq-uploader {

	.qq-upload-button  {
		@extend .button;
	}
	.qq-upload-drop-area {

		padding: 5px;
		border: 2px dotted #D7F2CB;
		margin: 0 0 5px;
		color: #5C5C5C;
		background-color: $title-back;
		text-align: center;
	}

	.qq-upload-drop-area-active{

		background-color: #C0E6C0;
		border-color: #38761D;
		color: #38761D;
	}

	.qq-upload-list {
		
		li {
			padding: 3px;
			list-style-type: disc;
			margin-left: 21px;
		}
		span {
			padding: 0 3px;
		}

		@include inline-message();

		.qq-upload-file {
			font-weight: bold;
		}

		.qq-upload-fail {
			.qq-upload-failed-text {
				display: inline;
			}
		}
		
		.qq-upload-failed-text{
			color: $message-error-color;
			display: none;
		}
	}
}
