@import "_Base";

//  Layout
#header-title {
	color: $bind-light;
	padding-top: 10px;
	line-height: 35px;

	.bind-logo {
		margin: 0 10px;
		padding: 10px 0;
		font-size: 30px;
		@include font-bind();
		float: left;
		color: $bind-light;

		&:hover {
			background-color: transparent;
		}
	}

	.bind-sublogo {
		float: left;
		color: lighten($bind-lightgreen, 12.5%);
		padding: 10px 0;
	}

	> div {
		overflow: auto;
		background-color: $bind-darkgreen;
	}
}

// Container
#sitemap-path {
    position: absolute;
    top: -2px;
    right: 145px;
    z-index: 999;
    text-align: center;
    overflow: visible;
    padding: 2px 0;
    .path {
        background-color: #F8FBF6;
        border: 1px solid #E3EFDE;
        border-top: none;
        padding: 5px 0;
        display: none;
        @include border-radius(0 0 5px 5px);
        .separator {
            color: $gray-color;
        }
        a, .node {
            padding: 5px 10px;
        }
    }

    .current {
        @include inline-message(11px);
        padding: 2px 0;
        span {
            padding: 2px 5px;
            background-color: #F8FBF6;
            border: 1px solid #E3EFDE;
            @include border-radius(0 0 5px 5px);
            border-top: none;
        }
    }
}
#wrap {
	overflow: visible;
    position: relative;
	padding: 15px 0;
    background-color: White;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: $wrap-bordercolor;
}
.space-container {
	padding: 0 21px;
	clear: both;
}


.file-upload-buttons {
    display: none;
}

// Footer
#footer {
	background-color: $bind-darkgreen;
	clear: both;
	position: relative; 
	color: $bind-light;

	h4 {
		color: $bind-light;
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}

	a {
		color: #B6D7A8;

		&:hover {
			color: #eee !important;
			text-decoration: none !important;
		}
	}

	.message {
		color: darken($bind-darkgreen, 8.5%);
		font-size: 12px;
	}
}

#twitters {
	width: 290px;
	float: left;
	color: $bind-light;

    .twitter-follow-button {
        margin-left: 100px;
    }

	> h4 {
		margin-bottom: 20px;
	}
}
#follow-twitter {
	top: -61px;
    left: -10px;
	position: absolute;
	z-index: 1;
}

#blog {
	overflow: hidden;
	> h4 {
		display: inline;
	}
}

#partners {
	width: 180px;
	float: right;
}

#copy {
	background-color: #34701B;
	text-align: center;
	clear: both;
	font-size: 12px;
	padding: 3px 0px;
	border-top: 1px solid #2D6117;
    position: relative;
}

//Menu
#top-menu{
  
	li{
		float:right;
		a {
			color: lighten($bind-lightgreen, 12.5%);
			padding: 10px 20px;
			display: block;
			text-align: center;
			
			&:hover {
				color: $bind-light;
			}
		}

	}
}
#username-menu {
	color: lighten($bind-lightgreen, 36%);
	text-align: right;
	line-height: normal;
	padding: 0 11px;
	margin: 11px 0;
	> p {
		margin-bottom: 2px
	}
	.link {
		padding: 1px 4px;
		display: inline;
		text-align: right;
	}
}

// Project list
.projects
{
	overflow: visible;

	li {
		> .item {
			float: left;
			width: 30.5%;
			margin-right: 20px;
            margin-bottom: 10px;
            position: relative;
            > a {
            	display: block;
	            text-align: center;
                height: 110px;
                > div {
                    min-height: 80px;
                    position: relative;
                }

                &:hover {
				    background-color: transparent;
                    .title {
                        color: gray;
                    }
			    }
            }

            .tooltip {
                background-color: $title-back;
                border: 1px solid $wrap-bordercolor;
                padding: 10px;
            }
            .project-status {
                position: absolute;
                left: -8px;
                bottom: 3px;
            }
		}

		&:last-child > .item {
			margin-right: 0px;
		}
	}
}

// Images list
.images
{
	overflow: visible;

	li {
		> .item {
            
			float: left;
			width: 30.5%;
			margin-right: 20px;
            margin-bottom: 10px;
            position: relative;
            > a {
            	display: block;
	            text-align: center;
                padding: 15px 15px 25px;
                &:hover {
				    background-color: transparent;
                    .title {
                        color: gray;
                    }
			    }
            }
		}

		&:last-child > .item {
			margin-right: 0px;
		}
	}
}


//Admins
#admin-menus > .menu-container {
    margin-bottom: 20px;
    ul > li.icon {
    
        float: left;
        text-align: center;
        border: 1px solid transparent;
        width: 100px;

        a {
            color: lighten($font-color, 6%);
            padding: 5px 10px;
            display: block;
            &:hover {
                background-color: transparent;
                color: $font-color;
            }

            span {
                display: block;
            }
        }

        &:hover {
            background-color: $title-back;
            border: 1px solid darken($title-back, 3%);
            top: 1;
            @include border-radius(3px);
        }
    }
}

//Table 
table {
    border: 1px solid #38761D;
    th {
        font-weight: bold;
        
        background-color: #6AA84F;
        color: #F9F9F9;
    }

    th, td {
        padding: 5px;
    }
    th.menu, td.menu {
        text-align: center;
    }

    tr {
        border-bottom: 1px dotted darken(#F9F9F9, 12%);
        &:first-child, &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #F5F9F3;
        }
    }

    td {
        margin: 3px;
        border-right: 1px dotted darken(#F9F9F9, 12%);
        &:last-child {
            border-right: none;
        }

    }
}

// Blog entry list
#blog-feed li {
	overflow: hidden;
	margin: 10px 0;
	div.blog-text {
		h4 {
			display: inline;
		}
		p {
			margin-top: 5px;
		}
	}

	div.blog-date {
		float: left;
		margin-right: 10px;	
		position:relative;
		.blog-dateDay {
			position: absolute;
			top: 15px;
			left: 10px;
			color: lighten($font-color, 15%);
			font:{
				size: 17px;
				weight: bold;
			}
		}
		.blog-dateMonth {
			position: absolute;
			top: -2px;
			left: 11px;
			font-size: 12px;
		}
	}
}

// Twitter entry list
#twitter-feed  li {
	margin: 7px 0;
			
	div.content {
		background-color: darken($bind-darkgreen, 5%);
		border: 1px solid darken($bind-darkgreen, 6%);
		padding: 6px;
		@include border-radius(3px 9px);
	}
	.time {
		text-align: right;
	}
}

// List 
.plus-header {
    @include center-margin(710px);
}
.plus-list {
    
    @include center-margin(710px);

    li {
        clear:both;
        margin: 15px 0;
        overflow: hidden;
        @include border-radius(5px);
        padding: 5px;
        .header {
            h4 {
                background-color: $title-back;
                border: 1px solid #DDFBDD;
                padding: 3px 15px;
            }   
            overflow: hidden;
            border-bottom: none;
        }
        
        .content {
            background-color: $title-back;
            border: 1px solid #DDFBDD;
            overflow: hidden;
            padding: 8px 13px;
            p {
                margin-bottom: 5px;
            }
        }
    }

    li.left  {
        .header h4 {
            float:left;
            @include border-radius(15px 0 15px 0);
        }
        .content {
            @include border-radius(0 20px 0 20px);
            > img {
                float: left;
                margin-right: 15px;
            }
        }
    }

    li.right  {
        .header h4 {
            float:right;
            @include border-radius(0 15px 0 15px);
        }
        .content  {
            @include border-radius(20px 0 20px 0);
            > img {
                float: right;
                margin-left: 10px;
            }
        }
    }
}