/* variables */
/* mixin */
/* mixin for CSS3 */
#header-title {
  color: #fbfbfb;
  padding-top: 10px;
  line-height: 35px; }
  #header-title .bind-logo {
    margin: 0 10px;
    padding: 10px 0;
    font-size: 30px;
    font-family: "Bauhaus", arial;
    float: left;
    color: #fbfbfb; }
    #header-title .bind-logo:hover {
      background-color: transparent; }
  #header-title .bind-sublogo {
    float: left;
    color: #8dbf77;
    padding: 10px 0; }
  #header-title > div {
    overflow: auto;
    background-color: #38761d; }

#sitemap-path {
  position: absolute;
  top: -2px;
  right: 145px;
  z-index: 999;
  text-align: center;
  overflow: visible;
  padding: 2px 0; }
  #sitemap-path .path {
    background-color: #F8FBF6;
    border: 1px solid #E3EFDE;
    border-top: none;
    padding: 5px 0;
    display: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
    #sitemap-path .path .separator {
      color: #797979; }
    #sitemap-path .path a, #sitemap-path .path .node {
      padding: 5px 10px; }
  #sitemap-path .current {
    color: #797979;
    font-size: 11px;
    padding: 2px 0; }
    #sitemap-path .current span {
      padding: 2px 5px;
      background-color: #F8FBF6;
      border: 1px solid #E3EFDE;
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      behavior: url(/Infra/PIE.htc);
      position: relative\9;
      border-top: none; }

#wrap {
  overflow: visible;
  position: relative;
  padding: 15px 0;
  background-color: White;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #c5e0c5; }

.space-container {
  padding: 0 21px;
  clear: both; }

.file-upload-buttons {
  display: none; }

#footer {
  background-color: #38761d;
  clear: both;
  position: relative;
  color: #fbfbfb; }
  #footer h4 {
    color: #fbfbfb;
    margin-top: 10px; }
    #footer h4:first-child {
      margin-top: 0; }
  #footer a {
    color: #B6D7A8; }
    #footer a:hover {
      color: #eee !important;
      text-decoration: none !important; }
  #footer .message {
    color: #275314;
    font-size: 12px; }

#twitters {
  width: 290px;
  float: left;
  color: #fbfbfb; }
  #twitters .twitter-follow-button {
    margin-left: 100px; }
  #twitters > h4 {
    margin-bottom: 20px; }

#follow-twitter {
  top: -61px;
  left: -10px;
  position: absolute;
  z-index: 1; }

#blog {
  overflow: hidden; }
  #blog > h4 {
    display: inline; }

#partners {
  width: 180px;
  float: right; }

#copy {
  background-color: #34701B;
  text-align: center;
  clear: both;
  font-size: 12px;
  padding: 3px 0px;
  border-top: 1px solid #2D6117;
  position: relative; }

#top-menu li {
  float: right; }
  #top-menu li a {
    color: #8dbf77;
    padding: 10px 20px;
    display: block;
    text-align: center; }
    #top-menu li a:hover {
      color: #fbfbfb; }

#username-menu {
  color: #d2e6c9;
  text-align: right;
  line-height: normal;
  padding: 0 11px;
  margin: 11px 0; }
  #username-menu > p {
    margin-bottom: 2px; }
  #username-menu .link {
    padding: 1px 4px;
    display: inline;
    text-align: right; }

.projects {
  overflow: visible; }
  .projects li > .item {
    float: left;
    width: 30.5%;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative; }
    .projects li > .item > a {
      display: block;
      text-align: center;
      height: 110px; }
      .projects li > .item > a > div {
        min-height: 80px;
        position: relative; }
      .projects li > .item > a:hover {
        background-color: transparent; }
        .projects li > .item > a:hover .title {
          color: gray; }
    .projects li > .item .tooltip {
      background-color: #f4fff4;
      border: 1px solid #c5e0c5;
      padding: 10px; }
    .projects li > .item .project-status {
      position: absolute;
      left: -8px;
      bottom: 3px; }
  .projects li:last-child > .item {
    margin-right: 0px; }

.images {
  overflow: visible; }
  .images li > .item {
    float: left;
    width: 30.5%;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative; }
    .images li > .item > a {
      display: block;
      text-align: center;
      padding: 15px 15px 25px; }
      .images li > .item > a:hover {
        background-color: transparent; }
        .images li > .item > a:hover .title {
          color: gray; }
  .images li:last-child > .item {
    margin-right: 0px; }

#admin-menus > .menu-container {
  margin-bottom: 20px; }
  #admin-menus > .menu-container ul > li.icon {
    float: left;
    text-align: center;
    border: 1px solid transparent;
    width: 100px; }
    #admin-menus > .menu-container ul > li.icon a {
      color: #505050;
      padding: 5px 10px;
      display: block; }
      #admin-menus > .menu-container ul > li.icon a:hover {
        background-color: transparent;
        color: #414141; }
      #admin-menus > .menu-container ul > li.icon a span {
        display: block; }
    #admin-menus > .menu-container ul > li.icon:hover {
      background-color: #f4fff4;
      border: 1px solid #e5ffe5;
      top: 1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      behavior: url(/Infra/PIE.htc);
      position: relative\9; }

table {
  border: 1px solid #38761D; }
  table th {
    font-weight: bold;
    background-color: #6AA84F;
    color: #F9F9F9; }
  table th, table td {
    padding: 5px; }
  table th.menu, table td.menu {
    text-align: center; }
  table tr {
    border-bottom: 1px dotted #dadada; }
    table tr:first-child, table tr:last-child {
      border-bottom: none; }
    table tr:hover {
      background-color: #F5F9F3; }
  table td {
    margin: 3px;
    border-right: 1px dotted #dadada; }
    table td:last-child {
      border-right: none; }

#blog-feed li {
  overflow: hidden;
  margin: 10px 0; }
  #blog-feed li div.blog-text h4 {
    display: inline; }
  #blog-feed li div.blog-text p {
    margin-top: 5px; }
  #blog-feed li div.blog-date {
    float: left;
    margin-right: 10px;
    position: relative; }
    #blog-feed li div.blog-date .blog-dateDay {
      position: absolute;
      top: 15px;
      left: 10px;
      color: #676767;
      font-size: 17px;
      font-weight: bold; }
    #blog-feed li div.blog-date .blog-dateMonth {
      position: absolute;
      top: -2px;
      left: 11px;
      font-size: 12px; }

#twitter-feed li {
  margin: 7px 0; }
  #twitter-feed li div.content {
    background-color: #2e6218;
    border: 1px solid #2c5d17;
    padding: 6px;
    -webkit-border-radius: 3px 9px;
    -moz-border-radius: 3px 9px;
    border-radius: 3px 9px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
  #twitter-feed li .time {
    text-align: right; }

.plus-header {
  margin: 0 auto;
  width: 710px; }

.plus-list {
  margin: 0 auto;
  width: 710px; }
  .plus-list li {
    clear: both;
    margin: 15px 0;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9;
    padding: 5px; }
    .plus-list li .header {
      overflow: hidden;
      border-bottom: none; }
      .plus-list li .header h4 {
        background-color: #f4fff4;
        border: 1px solid #DDFBDD;
        padding: 3px 15px; }
    .plus-list li .content {
      background-color: #f4fff4;
      border: 1px solid #DDFBDD;
      overflow: hidden;
      padding: 8px 13px; }
      .plus-list li .content p {
        margin-bottom: 5px; }
  .plus-list li.left .header h4 {
    float: left;
    -webkit-border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    border-radius: 15px 0 15px 0;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
  .plus-list li.left .content {
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    border-radius: 0 20px 0 20px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
    .plus-list li.left .content > img {
      float: left;
      margin-right: 15px; }
  .plus-list li.right .header h4 {
    float: right;
    -webkit-border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    border-radius: 0 15px 0 15px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
  .plus-list li.right .content {
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    border-radius: 20px 0 20px 0;
    behavior: url(/Infra/PIE.htc);
    position: relative\9; }
    .plus-list li.right .content > img {
      float: right;
      margin-left: 10px; }
