/* variables */
/* mixin */
/* mixin for CSS3 */
@font-face {
  font-family: 'BauhausBold';
  src: url("/Type/bauhaus_bold.eot");
  src: url("/Type/bauhaus_bold.eot?#iefix") format("embedded-opentype"), url("/Type/bauhaus_bold.woff") format("woff"), url("/Type/bauhaus_bold.ttf") format("truetype"), url("/Type/bauhaus_bold.svg#BauhausBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BauhausItalic';
  src: url("/Type/bauhaus_italic.eot");
  src: url("/Type/bauhaus_italic.eot?#iefix") format("embedded-opentype"), url("/Type/bauhaus_italic.woff") format("woff"), url("/Type/bauhaus_italic.ttf") format("truetype"), url("/Type/bauhaus_italic.svg#BauhausItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bauhaus";
  src: url("/Type/bauhaus_regular.eot");
  src: url("/Type/bauhaus_regular.eot?#iefix") format("embedded-opentype"), url("/Type/bauhaus_regular.woff") format("woff"), url("/Type/bauhaus_regular.ttf") format("truetype"), url("/Type/bauhaus_regular.svg#BauhausRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'PT Sans Caption' , serif, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  color: #414141;
  background-color: #f5f9f3; }

::selection {
  background: #cfe4c6;
  /* Safari */ }

::-moz-selection {
  background: #cfe4c6;
  /* Firefox */ }

a {
  text-decoration: none;
  color: #38761d;
  padding: 0 2px; }
  a img {
    border: 0; }
  a:hover {
    color: #fff;
    background-color: #6aa84f; }

p {
  padding: 0px;
  margin: 0px; }

h1, h2, h3, h4 {
  font-family: "Bauhaus", arial; }

h2 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #38761d; }

h3 {
  color: #5C5C5C;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: left;
  text-transform: initial; }

h4 {
  font-size: 18px;
  color: #38761d; }

h5 {
  font-weight: bold; }

.frame {
  background: white url("/Images/image-block.png") no-repeat center;
  /*
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/image-block.png', sizingMethod='scale')"/9;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/image-block.png', sizingMethod='scale')/9;
  */
  -moz-background-size: 100% 100%;
  /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: 100% 100%;
  /* Opera 9.5 */
  -webkit-background-size: 100% 100%;
  /* Safari 3.0 */
  background-size: 100% 100%;
  /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
  -khtml-background-size: 100% 100%;
  /* Konqueror 3.5.4 supports */
  -pie-background: white url("/Images/image-block.png") no-repeat 100% 100%/100%;
  -pie-png-fix: true;
  z-index: -1/9;
  position: relative/9;
  behavior: url(/Infra/PIE.htc);
  padding: 15px; }
  .frame .title {
    color: #9f9f9f;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px; }

.whole-page {
  overflow: hidden; }

.image-menu img {
  clear: both;
  display: block; }
.image-menu .menu {
  float: right; }
.image-menu .title {
  text-align: left;
  margin: 0 0 7px;
  float: left; }

#fancybox-outer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/Infra/PIE.htc);
  position: relative\9; }

div.center {
  margin: 0 auto;
  width: 850px; }

.header-break {
  background-color: #f4fff4;
  padding: 7px 10px;
  margin-bottom: 15px;
  border: 1px solid #DDFBDD;
  border-right: none;
  border-left: none;
  color: #38761d;
  font-weight: normal; }

.sub-title {
  color: #797979;
  font-size: 12px; }

.header-page {
  margin-bottom: 5px; }
  .header-page h3 {
    border-bottom: 1px solid #5C5C5C;
    text-transform: lowercase;
    padding-bottom: 3px;
    margin-bottom: 3px; }
  .header-page .sub-title {
    text-align: right;
    text-transform: lowercase; }

.status {
  display: none;
  margin: 0 auto;
  width: 77px;
  position: relative;
  padding: 22px 0; }
  .status .message {
    color: #797979;
    font-size: 13px;
    position: absolute;
    top: 16px;
    right: 0; }

.loading .spin {
  padding: 22px 0; }
.loading img {
  vertical-align: middle; }

div.three-columns > div.column {
  margin-right: 10px;
  padding: 10px; }
  div.three-columns > div.column:last-child {
    margin-right: 0px; }

#error-details {
  margin: 6px 0 8px;
  font-weight: bold;
  font-size: 16px; }

#error-info {
  text-align: center; }

#error-feedback {
  font-weight: bold; }
