@import "_Base";

@font-face {
    font-family: 'BauhausBold';
    src: url('/Type/bauhaus_bold.eot');
    src: url('/Type/bauhaus_bold.eot?#iefix') format('embedded-opentype'),
         url('/Type/bauhaus_bold.woff') format('woff'),
         url('/Type/bauhaus_bold.ttf') format('truetype'),
         url('/Type/bauhaus_bold.svg#BauhausBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BauhausItalic';
    src: url('/Type/bauhaus_italic.eot');
    src: url('/Type/bauhaus_italic.eot?#iefix') format('embedded-opentype'),
         url('/Type/bauhaus_italic.woff') format('woff'),
         url('/Type/bauhaus_italic.ttf') format('truetype'),
         url('/Type/bauhaus_italic.svg#BauhausItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:  quote($bind-fontName);
    src: url('/Type/bauhaus_regular.eot');
    src: url('/Type/bauhaus_regular.eot?#iefix') format('embedded-opentype'),
         url('/Type/bauhaus_regular.woff') format('woff'),
         url('/Type/bauhaus_regular.ttf') format('truetype'),
         url('/Type/bauhaus_regular.svg#BauhausRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {

	font:  {
		family: 'PT Sans Caption' , serif, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
		size: 12px;
	}
	color: $font-color;
	background-color: $body-color;
}

$percentSelection: 35%;

::selection  {
	background: lighten($bind-lightgreen, $percentSelection); /* Safari */
}
::-moz-selection  {
	background: lighten($bind-lightgreen, $percentSelection); /* Firefox */
}

a {
	text-decoration: none;
	color: $bind-darkgreen;
	padding: 0 2px;
	
	img	{
		border: 0;
	}

	&:hover {
		color: #fff;
		background-color: $bind-lightgreen;
	}
}

p {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4 {
	@include font-bind();
}

h2 {
	font-size: 30px;
	margin-bottom: 5px;
	color: $bind-darkgreen;
}

h3 {
	color: #5C5C5C;
	font-size: 24px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: initial;
}

h4 {
	font-size: 18px;
	color: $bind-darkgreen;
}
h5{
	font-weight: bold;
}

//  Class
.frame {
	background: #fff url('/Images/image-block.png') no-repeat center;
    
    /*
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/image-block.png', sizingMethod='scale')"/9;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Images/image-block.png', sizingMethod='scale')/9;
    */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
    background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    -khtml-background-size: 100% 100%; /* Konqueror 3.5.4 supports */
    -pie-background: #fff url('/Images/image-block.png') no-repeat 100% 100% / 100%;
    -pie-png-fix: true;
    z-index: -1/9;
    position: relative/9;
    behavior: url(/Infra/PIE.htc);
    padding: 15px;
	.title {
		color: lighten($gray-color, 15%);
		font-weight: bold;
        display: block;
        text-align: center;
        margin-top: 10px;
	}

}
.whole-page {
    overflow: hidden;
}
.image-menu {

    img {
        clear: both;
		display: block;
	}

	.menu {
		float:right;
	}

    .title {
		text-align: left;
		margin: 0 0 7px;
		float:left;
	}

}
#fancybox-outer {
    @include border-radius(3px);
}

div.center {
	@include center-margin(850px);
}

.header-break {
	background-color: $title-back;
	padding: 7px 10px;
	margin-bottom: 15px;
	border: 1px solid #DDFBDD;
	border-right: none;
	border-left: none;
	color: $bind-darkgreen;
	font-weight: normal;
}
.sub-title {
	@include inline-message();
}

.header-page {
    margin-bottom: 5px;
    h3 {
        border-bottom: 1px solid #5C5C5C;
        text-transform: lowercase;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .sub-title {
	    text-align: right;
        text-transform: lowercase;
    }
}

// Status
.status {
	display:none;
	margin: 0 auto;
	width: 77px;
	position: relative;
	padding: 22px 0;
	.message {
		@include inline-message(13px);
		position: absolute;
		top: 16px;
		right: 0;
	}
}

.loading {
	.spin{
		padding: 22px 0;
	}
	img {
		vertical-align:middle;
	}
}

// Three Columns
div.three-columns {
	> div.column {
		margin-right: 10px;
		padding: 10px;

		&:last-child {
			margin-right: 0px;
		}
	}
}

// Error
#error-details {
	margin: 6px 0 8px;
	font:{
		weight: bold;
		size: 16px;
	}
}
#error-info {
	text-align: center;
}

#error-feedback {
	font-weight: bold;
}
