.admin\/add\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.admin\/delete\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-33px 0px;
}
.admin\/edit\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-66px 0px;
}
.admin\/publish\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-99px 0px;
}
.admin\/unpublish\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-132px 0px;
}
