.home-plusWhy\/0business1-48\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.home-plusWhy\/0business2-48\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-49px 0px;
}
.home-plusWhy\/0tech1-48\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-98px 0px;
}
.home-plusWhy\/0tech2-48\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-147px 0px;
}
.home-plusWhy\/1business1-32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-196px 0px;
}
.home-plusWhy\/1business2-32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-229px 0px;
}
.home-plusWhy\/1tech1-32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-262px 0px;
}
.home-plusWhy\/1tech2-32\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-295px 0px;
}
.home-plusWhy\/agile\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-328px 0px;
}
.home-plusWhy\/catalog\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-377px 0px;
}
.home-plusWhy\/check\.png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:-442px 0px;
}
.home-plusWhy\/cross-browser\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-459px 0px;
}
.home-plusWhy\/deadline\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-508px 0px;
}
.home-plusWhy\/designer-partners\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-557px 0px;
}
.home-plusWhy\/economy\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-606px 0px;
}
.home-plusWhy\/google-apps\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-671px 0px;
}
.home-plusWhy\/happy-client\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-720px 0px;
}
.home-plusWhy\/html5\.png
{
width:47px;
height:48px;
background-image:url(sprite0.png);
background-position:-785px 0px;
}
.home-plusWhy\/interaction\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-833px 0px;
}
.home-plusWhy\/microsoft\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-882px 0px;
}
.home-plusWhy\/navigation-right\.png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:-931px 0px;
}
.home-plusWhy\/performance\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-948px 0px;
}
.home-plusWhy\/quality\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-997px 0px;
}
.home-plusWhy\/relationship-client\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-1046px 0px;
}
.home-plusWhy\/security\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-1095px 0px;
}
.home-plusWhy\/visibility\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-1144px 0px;
}
