﻿@model IEnumerable<HttpPostedFileBase>
@{
	var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
	var i = 0;
}	 
@if (Model != null)
{
    foreach (var fileBase in Model.Where(fileBase => fileBase != null && fileBase.ContentLength > 0))
    {
        ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("{0}[{1}]", prefix, i++);
        @Html.EditorFor(m => fileBase)
    }
}
<div id="@Html.IdForModel()">
    <noscript>
        @Html.TextBoxFor(m => m, new { type = "file" })
    </noscript>
</div>
<noscript> 
	<p class="message-field">para enviar mais de uma, envie as fotos compactadas no formato zip.</p>
</noscript>