/* variables */
/* mixin */
/* mixin for CSS3 */
#homecontact-form {
  float: left;
  clear: both; }
  #homecontact-form form .ui-dialog-buttonset {
    text-align: right; }
  #homecontact-form form .editor-label, #homecontact-form form .display-label {
    width: 90px; }
  #homecontact-form form legend {
    margin-top: 0; }
  #homecontact-form form .field-validation-error {
    display: block; }
  #homecontact-form .status {
    width: 170px;
    margin-left: 140px;
    padding-top: 145px; }
  #homecontact-form .message-result {
    width: 400px;
    margin: 152px 0; }

#Menssage {
  height: 145px;
  width: 270px; }

#Email, #Name {
  width: 200px; }

#contact-map {
  float: right;
  width: 400px;
  height: 330px;
  margin: 0 20px 20px;
  box-shadow: 0 0 4px #d7f2cb;
  border: 1px dotted #c4ecb3; }

#contact-persons {
  overflow: hidden;
  margin: 30px auto;
  width: 715px; }
  #contact-persons li {
    float: left;
    padding: 0 20px 5px;
    width: 313px; }
    #contact-persons li .contact-persontitle {
      float: left;
      border-right: 1px dotted #797979;
      padding: 13px;
      margin-right: 20px; }
      #contact-persons li .contact-persontitle:last-child {
        margin-right: 0;
        border-right: none; }
