﻿@import "_Base";

#homecontact-form {
    float:left;
    clear: both;
    form {
        .ui-dialog-buttonset {
            text-align: right;
        }
        
        .editor-label, .display-label {
            width: 90px;
        }

        legend {
            margin-top: 0;
        }

        .field-validation-error {
            display: block;
        }
    }
    
    .status {
        width: 170px;
        margin-left: 140px;
        padding-top: 145px;
    }

    .message-result {
        width: 400px;
        margin: 152px 0;
    }
}
#Menssage{
    height: 145px;
    width: 270px;
}
#Email, #Name{
    width: 200px;
}
#contact-map {
    float:right;
    width: 400px;
    height: 330px;
    margin: 0 20px 20px;
    @include box-shadow();
    border: 1px dotted darken($field-bordercolor, 6%);
}
#contact-persons{
    overflow: hidden;
    
    @include center-margin(715px, 30px);
    li{
        float:left;
        padding: 0 20px 5px;
        width: 313px;
        .contact-persontitle{
            float:left;
            border-right: 1px dotted $gray-color;
            padding: 13px;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
                border-right: none;
            }
        }
    }

}