﻿@import "_Base";

#ourprojects-title   {
    clear:both;
    overflow: hidden;
    margin: 10px 0 15px;
    a.more {
        float: right;
        font-size: 13px;
        margin: 3px 0;
    }
}
#ourprojects-home {
    overflow: hidden;
}

#hire {
    overflow: hidden;
    position: relative;

    #hire-header {
        float: left;
        margin-top: 15px;
        h2 {
            margin-bottom: 0;
        }
        .sub-title {
            text-align: right;
        }
    }
    #hire-content {
        float: left;
        margin: 33px 0 0 54px;

        > a {
            float: left;
            width: 115px;
            line-height: 31px;
            padding: 3px 0;
            @include border-radius(2px);
            margin-left: 5px;

            > img {
                margin-right: 5px;
                float: left;
            }

            &:first-child {  
                margin-left: 0;
            }
        }

        #hire-contentPortfolio img {
            margin-left: 11px;
        }
        #hire-contentContact img {
            margin-left: 13px;
            float: left;
        }
        #hire-contentPlus {
            span {
                float: left;
                margin-left: 28px;
            }
            img {
                margin-left: 5px;
            }
        }

    }
    > #frame-home {
        //background-image: url('/Images/Home/Monitor.png');
        //background-position: center;
        ///background-repeat: no-repeat;
        float: left;
        width: 337px;
        height: 230px;
        color: $gray-color;
        overflow: hidden;
        
        a {
            color: $gray-color;
        }
        > div {
            width: 287px !important;
            height: 183px !important;
            margin: 19px 26px;
            border: 1px dotted #EAEAEA;
            *position: relative;
            @include border-radius(3px);
            
            > ul {
                
                height: 183px;
                //background-color: lighten($gray-color, 52%);
                overflow-x: hidden;
                @include border-radius(2px);
                li {
                    width: 287px;
                    position: relative;
                    .item {
                        overflow:hidden;
                        a:hover {
                            background-color: transparent;
                            border-bottom: 1px dotted #797979;
                        }
                        a img:hover {
                            background-color: transparent;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                //Itens que possuem image-texto (esquerda)
                li.centered {
                    text-align: center;
                    h5{
                        margin-bottom: 5px;
                    }
                }

                //Itens que possuem image-texto (esquerda)
                li.left {
                .item {
                    p {
                        clear:both;
                        margin-top: 5px;
                    }
                    img {
                        float:left;
                        margin-right: 5px;
                    }
                }
                }

                //Itens que possuem image-texto (esquerda)  text-image (direita)
                li.left-right {
                .item {
                    margin-bottom: 20px;
                    &:first-child {
                        img {
                            float:left;
                            margin-right: 5px;
                        }
                    }

                    &:last-child {
                        text-align: right;
                        img {
                            float:right;
                            margin-left: 10px;
                        }
                    }
                }
            }

                //Itens que possuem image-texto (esquerda)  text-image (direita) image-texto (esquerda) 
                li.left-right-left {
                .item {
                    text-align: right;
                    margin-bottom: 5px;
                    img{
                        float:right;
                        margin-left: 10px;
                    }
                        
                    &:first-child, &:last-child {
                        text-align: left;
                        img {
                            float:left;
                            margin-right: 5px;
                        }
                    }
                }
            }

            }
        }
    }

    > p {
        @include  inline-message(13px);
    }

    #presentation {
        position: absolute;
        right: -96px;
        bottom: 17px;

        > a.link-presentation {
            @include border-radius(5px 0 0 5px);
            padding: 4px 0 4px 5px;
            width: 133px;
            line-height: 32px;
            display: block;
            background-position: 4px 3px;
            background-color: #F9F9F9;
            border: 1px solid darken(#F9F9F9, 6%);
            text-indent: 9px;
            overflow: hidden;
            span, img {
                float: left;
            }
            &:hover {
                color: $font-color;
                text-decoration: underline;
            }
        }

        .prezi-player {
            display: none;
        }
    }
}
#why-hire {
    .item-container {
        margin: 74px 0;
        height: 100%;
        > a {
            position: absolute;
            bottom: 2px;
            right: 26px;
            
            &:hover {
                color: $bind-light;
            }
        }
    }
}
#ecommerce-hire {
    .item-container {
        margin: 45px 30px;
    }
}
#coding-hire {
    .item-container {
        margin: 47px 24px;
    }
}
#partner-hire {
    .item-container {
        margin: 43px 27px;
    }
}
#share-hire {
    .item-container {
        margin: 38px 3px;
    }
}
#analytcs-hire{
    .item-container {
        margin: 27px 33px;
        .item h5 {
            margin-top: 10px;
        }
    }
}
#maps-hire{
    .item-container {
        margin: 43px;
    }
}
#social-hire{
    .item-container {
        margin: 57px 29px;
    }
}
#browsers-hire {
    
    .item-container {
        margin: 44px 10px;

        .image-list{
            margin-top: 10px;
            img{
                margin: 0 10px;
            }
        }
    }
}

#publicity {
    overflow: visible;
    margin: 35px 0;
    padding-bottom: 65px;
    .publicity-item {
        float: left;
        margin-right: 15px;
        width: 31%;

        > img {
            float: left;
            margin: 0px 5px 10px;
        }

        a {
            float: right;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

#publicity-quality {
    img {
        background-image: url('/App_Sprites/home/sprite0.png');
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: -48px 0;
    }
}

.csstransforms.csstransitions, .no-js {
    #publicity-happy {
        img {
                @include transition();
        }

        &:hover img {
            @include transform-rotate(-65deg);
        }
    }

    #publicity-visibility {
        img {
                @include transition();
        }

        &:hover img {
            @include transform-scale(1.3);
        }
    }

    #publicity-quality {
        img {
            @include transition(background-position, .3s, ease);
        }

        &:hover img {
            background-position: 0 0;
        }
    }
}
