/* variables */
/* mixin */
/* mixin for CSS3 */
#ourprojects-title {
  clear: both;
  overflow: hidden;
  margin: 10px 0 15px; }
  #ourprojects-title a.more {
    float: right;
    font-size: 13px;
    margin: 3px 0; }

#ourprojects-home {
  overflow: hidden; }

#hire {
  overflow: hidden;
  position: relative; }
  #hire #hire-header {
    float: left;
    margin-top: 15px; }
    #hire #hire-header h2 {
      margin-bottom: 0; }
    #hire #hire-header .sub-title {
      text-align: right; }
  #hire #hire-content {
    float: left;
    margin: 33px 0 0 54px; }
    #hire #hire-content > a {
      float: left;
      width: 115px;
      line-height: 31px;
      padding: 3px 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      position: relative\9;
      border-radius: 2px;
      behavior: url(/Infra/PIE.htc);
      margin-left: 5px; }
      #hire #hire-content > a > img {
        margin-right: 5px;
        float: left; }
      #hire #hire-content > a:first-child {
        margin-left: 0; }
    #hire #hire-content #hire-contentPortfolio img {
      margin-left: 11px; }
    #hire #hire-content #hire-contentContact img {
      margin-left: 13px;
      float: left; }
    #hire #hire-content #hire-contentPlus span {
      float: left;
      margin-left: 28px; }
    #hire #hire-content #hire-contentPlus img {
      margin-left: 5px; }
  #hire > #frame-home {
    float: left;
    width: 337px;
    height: 230px;
    color: #797979;
    overflow: hidden; }
    #hire > #frame-home a {
      color: #797979; }
    #hire > #frame-home > div {
      width: 287px !important;
      height: 183px !important;
      margin: 19px 26px;
      border: 1px dotted #EAEAEA;
      *position: relative;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      position: relative\9;
      border-radius: 3px;
      behavior: url(/Infra/PIE.htc); }
      #hire > #frame-home > div > ul {
        height: 183px;
        overflow-x: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        position: relative\9;
        border-radius: 2px;
        behavior: url(/Infra/PIE.htc); }
        #hire > #frame-home > div > ul li {
          width: 287px;
          position: relative; }
          #hire > #frame-home > div > ul li .item {
            overflow: hidden; }
            #hire > #frame-home > div > ul li .item a:hover {
              background-color: transparent;
              border-bottom: 1px dotted #797979; }
            #hire > #frame-home > div > ul li .item a img:hover {
              background-color: transparent; }
            #hire > #frame-home > div > ul li .item:last-child {
              margin-bottom: 0; }
        #hire > #frame-home > div > ul li.centered {
          text-align: center; }
          #hire > #frame-home > div > ul li.centered h5 {
            margin-bottom: 5px; }
        #hire > #frame-home > div > ul li.left .item p {
          clear: both;
          margin-top: 5px; }
        #hire > #frame-home > div > ul li.left .item img {
          float: left;
          margin-right: 5px; }
        #hire > #frame-home > div > ul li.left-right .item {
          margin-bottom: 20px; }
          #hire > #frame-home > div > ul li.left-right .item:first-child img {
            float: left;
            margin-right: 5px; }
          #hire > #frame-home > div > ul li.left-right .item:last-child {
            text-align: right; }
            #hire > #frame-home > div > ul li.left-right .item:last-child img {
              float: right;
              margin-left: 10px; }
        #hire > #frame-home > div > ul li.left-right-left .item {
          text-align: right;
          margin-bottom: 5px; }
          #hire > #frame-home > div > ul li.left-right-left .item img {
            float: right;
            margin-left: 10px; }
          #hire > #frame-home > div > ul li.left-right-left .item:first-child, #hire > #frame-home > div > ul li.left-right-left .item:last-child {
            text-align: left; }
            #hire > #frame-home > div > ul li.left-right-left .item:first-child img, #hire > #frame-home > div > ul li.left-right-left .item:last-child img {
              float: left;
              margin-right: 5px; }
  #hire > p {
    color: #797979;
    font-size: 13px; }
  #hire #presentation {
    position: absolute;
    right: -96px;
    bottom: 17px; }
    #hire #presentation > a.link-presentation {
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      position: relative\9;
      border-radius: 5px 0 0 5px;
      behavior: url(/Infra/PIE.htc);
      padding: 4px 0 4px 5px;
      width: 133px;
      line-height: 32px;
      display: block;
      background-position: 4px 3px;
      background-color: #F9F9F9;
      border: 1px solid #eaeaea;
      text-indent: 9px;
      overflow: hidden; }
      #hire #presentation > a.link-presentation span, #hire #presentation > a.link-presentation img {
        float: left; }
      #hire #presentation > a.link-presentation:hover {
        color: #414141;
        text-decoration: underline; }
    #hire #presentation .prezi-player {
      display: none; }

#why-hire .item-container {
  margin: 74px 0;
  height: 100%; }
  #why-hire .item-container > a {
    position: absolute;
    bottom: 2px;
    right: 26px; }
    #why-hire .item-container > a:hover {
      color: #fbfbfb; }

#ecommerce-hire .item-container {
  margin: 45px 30px; }

#coding-hire .item-container {
  margin: 47px 24px; }

#partner-hire .item-container {
  margin: 43px 27px; }

#share-hire .item-container {
  margin: 38px 3px; }

#analytcs-hire .item-container {
  margin: 27px 33px; }
  #analytcs-hire .item-container .item h5 {
    margin-top: 10px; }

#maps-hire .item-container {
  margin: 43px; }

#social-hire .item-container {
  margin: 57px 29px; }

#browsers-hire .item-container {
  margin: 44px 10px; }
  #browsers-hire .item-container .image-list {
    margin-top: 10px; }
    #browsers-hire .item-container .image-list img {
      margin: 0 10px; }

#publicity {
  overflow: visible;
  margin: 35px 0;
  padding-bottom: 65px; }
  #publicity .publicity-item {
    float: left;
    margin-right: 15px;
    width: 31%; }
    #publicity .publicity-item > img {
      float: left;
      margin: 0px 5px 10px; }
    #publicity .publicity-item a {
      float: right; }
    #publicity .publicity-item:last-child {
      margin-right: 0px; }

#publicity-quality img {
  background-image: url("/App_Sprites/home/sprite0.png");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: -48px 0; }

.csstransforms.csstransitions #publicity-happy img, .no-js #publicity-happy img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  /* CSS3 */ }
.csstransforms.csstransitions #publicity-happy:hover img, .no-js #publicity-happy:hover img {
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
  transform: rotate(-65deg);
  /* CSS3 */ }
.csstransforms.csstransitions #publicity-visibility img, .no-js #publicity-visibility img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  /* CSS3 */ }
.csstransforms.csstransitions #publicity-visibility:hover img, .no-js #publicity-visibility:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  /* CSS3 */ }
.csstransforms.csstransitions #publicity-quality img, .no-js #publicity-quality img {
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  -ms-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
  /* CSS3 */ }
.csstransforms.csstransitions #publicity-quality:hover img, .no-js #publicity-quality:hover img {
  background-position: 0 0; }
