/* variables */
/* mixin */
/* mixin for CSS3 */
#plus-header {
  padding: 2px 25px 20px;
  overflow: hidden; }
  #plus-header img {
    float: left; }
  #plus-header > div {
    float: left;
    width: 550px; }
    #plus-header > div h2 {
      margin-top: 25px; }
    #plus-header > div .sub-title {
      float: right;
      margin-right: 4px; }

#plus-container {
  overflow: hidden;
  margin: 10px 15px 35px; }
  #plus-container > div {
    margin: 0 auto;
    width: 355px;
    padding: 0 20px; }
    #plus-container > div h3 {
      line-height: 40px;
      text-indent: 12px;
      padding: 2px 0;
      float: left; }
    #plus-container > div a.plus-go {
      float: right; }
      #plus-container > div a.plus-go span {
        float: left; }
      #plus-container > div a.plus-go img {
        margin-left: 10px; }
    #plus-container > div .content {
      padding: 10px 0 0 15px;
      border-top: 1px dotted #414141;
      clear: both; }
      #plus-container > div .content ul.plus-preview {
        margin-bottom: 25px; }
        #plus-container > div .content ul.plus-preview li {
          color: #797979;
          padding: 3px 0;
          line-height: 11px;
          text-indent: 22px;
          width: 330px; }
          #plus-container > div .content ul.plus-preview li a {
            color: #797979; }
            #plus-container > div .content ul.plus-preview li a img {
              display: none; }
            #plus-container > div .content ul.plus-preview li a:hover {
              background-color: transparent;
              border-bottom: 1px dotted #797979; }

#plus-tech {
  float: left; }
  #plus-tech img.plus-icon {
    float: left;
    background-image: url("/App_Sprites/home-plusWhy/sprite0.png");
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: -97px 0; }

#plus-business {
  float: right; }
  #plus-business img.plus-icon {
    float: left;
    background-image: url("/App_Sprites/home-plusWhy/sprite0.png");
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 0 0; }

.csstransforms.csstransitions #plus-tech img.plus-icon, .no-js #plus-tech img.plus-icon {
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  -ms-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
  /* CSS3 */ }
.csstransforms.csstransitions #plus-tech:hover img.plus-icon, .no-js #plus-tech:hover img.plus-icon {
  background-position: -145px 0; }
.csstransforms.csstransitions #plus-business img.plus-icon, .no-js #plus-business img.plus-icon {
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  -ms-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
  /* CSS3 */ }
.csstransforms.csstransitions #plus-business:hover img.plus-icon, .no-js #plus-business:hover img.plus-icon {
  background-position: -48px 0; }
