﻿@import "_Base";

#plus-header {
    padding: 2px 25px 20px;
    overflow: hidden;

    img {
            float: left;
        }

    > div {
        float: left;
        width: 550px;
        
        h2 {
                margin-top: 25px;
            }
        
        .sub-title {
            float: right;
            margin-right: 4px;
        }
    }
}

#plus-container {

    overflow: hidden;
    margin: 10px 15px 35px;

    > div {
        @include center-margin(355px);
        padding: 0 20px;
        h3 {
            line-height: 40px;
            text-indent: 12px;
            padding: 2px 0;
            float:left;
        }

        a.plus-go {
            float: right;
            span {
                float: left;
            }
            img {
                margin-left: 10px;
            }
        }

        .content {
            padding: 10px 0 0 15px;
            border-top: 1px dotted $font-color;
            clear:both;
            ul.plus-preview {
                margin-bottom: 25px;
                li {
                    color: $gray-color;
                    padding: 3px 0;
                    line-height: 11px;
                    text-indent: 22px;
                    width: 330px;
                    a {
                        color: $gray-color;
                        img {
                            display: none;
                        }
                        &:hover {
                            background-color:  transparent;
                            border-bottom: 1px dotted $gray-color;
                        }
                    }
                }
            }
        }
    }
}

#plus-tech {
    float:left;

    img.plus-icon  {
        float: left;
        background-image: url('/App_Sprites/home-plusWhy/sprite0.png');
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: -97px 0;
    }
}

#plus-business {
    float:right;

    img.plus-icon  {
        float: left;
        background-image: url('/App_Sprites/home-plusWhy/sprite0.png');
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}

.csstransforms.csstransitions, .no-js {

    #plus-tech {
        img.plus-icon  {
            @include transition(background-position, .3s, ease);
        }
        &:hover img.plus-icon {
            background-position: -145px 0;
        }
    }

    #plus-business {
        img.plus-icon  {
            @include transition(background-position, .3s, ease);
        }
        &:hover img.plus-icon {
            background-position: -48px 0;
        }
    }
}
