/* variables */
/* mixin */
/* mixin for CSS3 */
.plus-header .images {
  margin: 10px auto;
  width: 460px;
  overflow: hidden; }
  .plus-header .images div {
    float: left; }
    .plus-header .images div .sub-title {
      text-align: center;
      font-size: 11px; }
  .plus-header .images .without-site {
    margin-right: 90px; }

#why-points {
  margin: 0 auto;
  width: 480px;
  overflow: hidden;
  height: 145px; }
  #why-points .header, #why-points .header > h3 {
    text-align: center; }
  #why-points > div {
    padding: 20px 0; }
    #why-points > div a {
      width: 210px;
      padding: 10px 10px 10px 38px;
      border-radius: 2px; }
    #why-points > div div {
      display: inline;
      padding: 25px 10px; }
    #why-points > div .tech-point {
      border-right: 1px dotted;
      padding-right: 10px; }
