﻿@import "_Base";

.plus-header .images {
    @include center-margin(460px, 10px);
    overflow: hidden;
    
    div {
        float: left;
        .sub-title {
            text-align: center;
            font-size: 11px;
        }
    }
    
    .without-site {
        margin-right: 90px;
    }

}

#why-points {
    @include center-margin(480px);
    overflow: hidden;
    height: 145px;
    
    .header, .header > h3 {
        text-align: center;
    }

    > div {
        padding: 20px 0;

        a {
            width: 210px;
            padding: 10px 10px 10px 38px;
            @include border-radius(2px);
        }

        div {
            display: inline;
            padding: 25px 10px;
        }

        .tech-point {
            border-right: 1px dotted;
            padding-right: 10px;
        }

        .business-point {
        }
    }
}