﻿<div id="projectAddress-form">
@using (Html.BeginForm())
{
	@Scripts.JQueryErrorTemplate()
	@Html.AntiForgeryToken()
				
	<fieldset id="address-fields">
        <legend>Cadastro de endereço</legend>
		@Html.ValidationSummary(true)
		@Html.EditorForModel()
	</fieldset>
	
	<div class="ui-dialog-buttonset">
        @Html.ActionLink("cancelar", "Admin")
		<input type="submit" value="Salvar" title="Salvar" />
	</div>
}
</div>