﻿@using BindSolution.Data
@using Microsoft.Web.Samples
@model Project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scriptsBefore {
    @RenderSection("scriptsBefore", false)
}

@section scripts {
    @Scripts.GooglePlusOne()
    @Scripts.Facebook()
    @Scripts.Linkedin()
    @RenderSection("scripts", false)
}

@section css{
    @Sprite.ImportStylesheet("~/App_Sprites/project")
    @RenderSection("css", false)
}

@section meta{

    @* Google plus one *@
    <!-- Update your html tag to include the itemscope and itemtype attributes -->
    <html itemscope itemtype="http://schema.org/Product">
    <!-- Add the following three tags inside head -->
    <meta itemprop="name" content="@Model.Name">
    <meta itemprop="description" content="@Model.Description">
    <meta itemprop="image" content="@VirtualPathUtility.ToAbsolute(Url.Content(ViewBag.LogoImagePath))">

    @* Facebook like *@
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:type" content="" />
@* ReSharper disable PossibleNullReferenceException *@
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
@* ReSharper restore PossibleNullReferenceException *@
    <meta property="og:image" content="@Url.Content(ViewBag.LogoImagePath)" />
    <meta property="og:site_name" content="http://bindsolution.com" />
    <meta property="fb:admins" content="1616703923" />
}

<div id="project-top">
    @Html.Partial("_ProjectHeader")
</div>

<div id="project-page">

    <ul id="project-shared-button" class="project-menu" title="Compartilhe este projeto com seus amigos.">
        <li>
            <span class="item">
                <img src="@Url.Content("~/Images/share.png")" alt="Compartilhar" />
            </span>
        </li>
    </ul>

    <ul id="project-shared" class="project-menu">
        <li>
            @Share.GooglePlusOne()
        </li>
        <li>
            @Share.FacebookLike()
        </li>
        <li>
            @Share.Tweet(Request.Url.AbsoluteUri, "Confiram este projeto, muito bacana! " + Model.Name)
        </li>
        <li>
            @Share.LinkedInShare(Request.Url.AbsoluteUri)
        </li>
    </ul>

    <ul id="project-menu" class="project-menu"> 
        @Html.MenuItem("Sobre", "About", null, null, new Dictionary<string, object> {
                                    { "data-tooltip-text", "Detalhes sobre o projeto." } ,
                                    { "title", "Detalhes sobre o projeto." } 
                                })
        @Html.MenuItem("Fotos", "Photos", null, null, new Dictionary<string, object> {
                                    { "data-tooltip-text", "Exibir imagens do site." } ,
                                    { "title", "Exibir imagens do site." } 
                                })
        @Html.MenuItem("Endereços", "Addresses", null, null, new Dictionary<string, object> {
                                    { "data-tooltip-text", "Endereços do cliente." } ,
                                    { "title", "Endereços do cliente." } 
                                })
        @if (Request.IsAuthenticated)
        {
            @Html.MenuItem("Admin", "Admin", null, null, new Dictionary<string, object> {
                                    { "data-tooltip-text", "Gerenciar conteúdo." } ,
                                    { "title", "Gerenciar conteúdo." } 
                                })  
        }
    </ul>

	<script id="statusTmpl" type="text/x-jquery-tmpl">
	    <div class="status">
		    <span class="loading">
		        <div class="spin"></div>
	        </span>
		    <span class="message" >{{=message}}</span>
	    </div>
	</script>

    <div id="project-container">
        @RenderBody()
    </div>

</div>