﻿@using BindSolution.Data
@model Project
@{
    var logo = (WebImage)ViewBag.WebLogo;
}

@Html.HiddenFor(p => p.ID)

<div id="project-info">
    <a id="project-title" href="@Url.Action("About")">
        <h3>@Html.DisplayFor(p => p.Name)</h3>
    </a>
    <p class="sub-title">@Html.DisplayFor(p => p.Description)</p>
    <a href="@Model.WebSite" title="Clique para abrir a página da @Model.Name" target="_blank">@Model.WebSite</a>
</div>

<div id="project-logo">
    <a href="@Model.WebSite" target="_blank" title="@Model.Name">
        <img
            src="@Url.Content(ViewBag.LogoImagePath)"
            title="Clique para navegar no site da @Model.Name" 
            alt="@ViewBag.LogoImageName"
            width = "@logo.Width"
            height="@logo.Height"
            />
    </a>
</div>