﻿@model ProjectViewModel

@using (Html.BeginForm(null, null, Request.QueryString.ToRouteValueDictionary(), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Scripts.JQueryErrorTemplate()
	@Html.AntiForgeryToken()
				
	<fieldset>
		<legend>Dados do Projeto</legend>
		@Html.ValidationSummary(true)
		@Html.EditorForModel()
	</fieldset>
	 
    if (!Request.IsAjaxRequest())
    {
        <div class="ui-dialog-buttonset">
            @Html.ActionLink("cancelar", "Index")
            <input type="submit" value="Salvar" title="Salvar" />
        </div>
    }
}