﻿@using BindSolution.Data
@model Project
@{
    ViewBag.Title = Model.Name;
    Layout = Request.IsAjaxRequest() 
        ? null 
        : "_LayoutDetails.cshtml";
}

@Html.DisplayFor(p => p.Details, "HtmlView")

<div id="project-comments">
   <h4>Comentários</h4>
@* ReSharper disable PossibleNullReferenceException *@
   @Share.FacebookComments(Request.Url.AbsoluteUri, 770)
@* ReSharper restore PossibleNullReferenceException *@
</div>