﻿@using BindSolution.Data
@using Microsoft.Web.Samples
@model Project
@{
    ViewBag.Title = Model.Name + " | Endereços";
    Layout = Request.IsAjaxRequest()
        ? null
        : "_LayoutDetails.cshtml";
}
@section scriptsBefore{
    @Scripts.ByUrl("http://maps.google.com/maps/api/js?sensor=false")
}
@section scripts{

	@Scripts.Validate()
}

@if (Model.Addresses != null && Model.Addresses.Count > 0)
{
    <script id="gmapsInfoWindowTmpl" type="text/x-jquery-tmpl">
        <div class="infowindow">
            <h2>{{=Display}}</h2>
            <p>{{=Description!}}</p>
            <div class="infowindow-menu">
            <a href='http://maps.google.com/maps?q={{=Latitude}},+{{=Longitude}}&hl=pt-br' target='_blank' title='Clique para Visualizar no Google Maps'>Ver no Google Maps</a>
            </div>
        </div>
    </script>
    
    <script id="gmapsAddressesSltTmpl" type="text/x-jquery-tmpl">
        <select id="addresses" title="Selecione o endereço para centralizar o mapa">
            @foreach (var address in Model.Addresses)
            {
                <option 
                    title="@address.Street @address.Number - @address.City" 
                    data-address-latitude="@address.Latitude" 
                    data-address-longitude="@address.Longitude"
                    data-address-description="@address.Description"
                    data-tooltip-text="@address.Street @address.Number - @address.City"
                    >
                    @address.Display
                </option>
            }
        </select>
    </script>

    <div id="addresses-map">
        <noscript>
            <div class="no-data">
		        <p>não é possível exibir a lista de endereços!</p>
                <p class="sub-title">Por favor, habilite o javascript para visualizar os endereços!</p>
	        </div>
        </noscript>
    </div>
}
else
{
    <div class="no-data">
        @Sprite.Image("~/App_Sprites/home/empty.png")
		<p>nenhum endereço cadastrado!</p>
	</div>
}