﻿@using BindSolution.Data
@using Microsoft.Web.Samples
@model Project
@{
    ViewBag.Title = Model.Name + " | Administração";
    Layout = Request.IsAjaxRequest() 
        ? null 
        : "_LayoutDetails.cshtml";    
        
}

@section css{
    @Sprite.ImportStylesheet("~/App_Sprites/admin")
}

@section scripts {

	@Scripts.Validate()
    @Scripts.Forms()
}

@functions {

    string formatAddress(Address address)
    {
        const string fullAddressFormat = "{0} Nº{1} | {2} - {3} - {4}";
        return string.Format(fullAddressFormat, address.Street, address.Number, address.Complement, address.Neighborhood, address.City);
    }

}

<div id="admin-menus" class="whole-page">

    <div class="menu-container">
        <h4>Gerais</h4>
        <ul class="space-container whole-page">
            <li class="icon">
                <a href="@Url.Action("Edit", "Project")">
                    <img src="@Url.Content("~/Images/blank.gif")" class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/admin/edit.png")" alt="Editar" />
                    <span>Editar</span>
                </a>
            </li>
            <li class="icon">
                <a href="@Url.Action("Publish", "Project")">
                @if (Model.Published)
                {
                    <img src="@Url.Content("~/Images/blank.gif")" class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/admin/unpublish.png")" alt="Despublicar" />
                    <span>Despublicar</span>
                }
                else
                {
                    <img src="@Url.Content("~/Images/blank.gif")" class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/admin/publish.png")" alt="Publicar" />
                    <span>Publicar</span>
                }
                </a>
            </li>
            <li class="icon">
                <a href="@Url.Action("Delete", "Project")">
                    @Sprite.Image("~/App_Sprites/admin/delete.png", new { alt = "Remover" })
                    <span>Remover</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="menu-container">
        <h4>Imagens</h4>

        <div id="photos-add" >
            @using (Html.BeginForm(null, null, Request.QueryString.ToRouteValueDictionary(), FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
	            @Scripts.JQueryErrorTemplate()
	            @Html.AntiForgeryToken()
				
	            <fieldset id="projectFields">
		            @Html.ValidationSummary(true)
                    @Html.HiddenFor(p => p.ID)
                    @Html.EditorFor(p => p.Images, "HttpPostedFileBase")
                    @Html.ValidationMessageFor(p => p.Images)
	            </fieldset>
	 
                <noscript>
	                <div class="ui-dialog-buttonset">
		                <input type="submit" value="Enviar" title="Enviar" />
	                </div>
                </noscript>
            }
        </div>

        <script id="imageLineTmpl" type="text/x-jquery-tmpl">
            <tr>
                <td class="fileName">
                    <a href="{{=pathFullImage}}" title="{{=fileNameWithoutExtension}}" target="_blank">{{=fileNameWithoutExtension}}</a>
                </td>
                <td class="menu">
                    <a href="@Url.Action("DeleteImage")?fileName={{=fileName}}&projectID={{=projectID}}&returnUrl=@HttpContext.Current.Request.RawUrl">Remover</a>
                </td>
            </tr>
        </script>
        <table id="photos-table">
            <tr>
                <th>Arquivo</th>
                <th class="menu">Menu</th>
            </tr>
            @if (Model.Images.Count > 0)
            {
                foreach (var image in Model.Images)
                {
                    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(image.Name);
                     <tr>
                         <td class="fileName">
                             <a href="@Href(ViewBag.PathImageFormat, image.Name)" title="@fileNameWithoutExtension" target="_blank">@fileNameWithoutExtension</a>
                         </td>
                         <td class="menu">
                             @Html.ActionLink("Remover", "DeleteImage", new { fileName = image.Name, projectID = Model.ID, returnUrl = HttpContext.Current.Request.RawUrl })
                         </td>
                     </tr>
                }
            }
        </table>

    </div>

    <div class="menu-container">
        <h4>Endereços</h4>
        @Html.ActionLink("Novo endereço", "CreateAddress")
        <table id="addresses-table">
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th class="menu">Menu</th>
            </tr>
            @if (Model.Addresses.Count > 0)
            {
                foreach (var address in Model.Addresses)
                {
                     <tr>
                        <td>@address.Display</td>
                         <td>@formatAddress(address)</td>
                         <td class="menu">
                             @Html.ActionLink("Editar", "EditAddress", new { id = address.ID })
                             | @Html.ActionLink("Remover", "DeleteAddress", new { id = address.ID })
                         </td>
                     </tr>
                }
            }
        </table>
    </div>


</div>
