﻿@model WebImage
@{
    var fileName = Path.GetFileName(Model.FileName);
    ViewBag.Title =string.Format("Remover a imagem {0}?", fileName);
    
    if (Request.IsAjaxRequest())
    {
        Layout = null ;
    }
}

<div class="space-container">
    <h3 class="confirm">Deseja remover a imagem abaxo?</h3>

    @using (Html.BeginForm())
    {
	    @Html.AntiForgeryToken()
	    <fieldset>
            @Html.ValidationSummary(true)
		    @Html.DisplayForModel("DeleteWebImage")
	    </fieldset>
	 
	    <div class="ui-dialog-buttonset">
            @Html.ActionLink("cancelar", "Admin")
		    <input type="submit" value="Remover" title="Remover" />
	    </div>
    }
</div>
