﻿@using BindSolution.Data
@model Project
@{
	ViewBag.Title = "Remover projeto?";
    if (Request.IsAjaxRequest())
    {
        Layout = null ;
    }
}
<div id="project-top">
    @Html.Partial("_ProjectHeader")
</div>

@if (!Request.IsAjaxRequest())
{
    <div class="space-container">
        <h3>Deseja remover este projeto?</h3>
        <p class="sub-title">Todas as fotos e endereços deste projeto serão removidas.</p>
    </div>
}

<div id="project-deleteFormContainer">
    @using (Html.BeginForm())
    {
	    @Html.AntiForgeryToken()
	    <fieldset>
		    @Html.HiddenFor(p => p.ID)
	    </fieldset>
        if (!Request.IsAjaxRequest())
        {
            <div class="ui-dialog-buttonset">
                @Html.ActionLink("cancelar", "About")
                <input type="submit" value="Remover" title="Remover" />
            </div>
        }
    }
</div>