﻿@using BindSolution.Data
@model AddressViewModel
@{
    var project = (Project) ViewBag.Project;
    ViewBag.Title = project.Name + " | Remover endereço";
    if (Request.IsAjaxRequest())
    {
        Layout = null ;
    }
}

@section scriptsBefore{
    @Scripts.ByUrl("http://maps.google.com/maps/api/js?sensor=false")
}

<div id="project-top">
    @Html.Partial("_ProjectHeader", project)
</div>

<h3 class="space-container" >Tem certeza que deseja remover este endereço?</h3>

<div id="projectDeleteAddress-form">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset id="address-fields">
            <legend>@Html.DisplayFor(p => p.Display)</legend>
            
            @Html.HiddenFor(p => p.ID)
            @Html.HiddenFor(p => p.Latitude)
            @Html.HiddenFor(p => p.Longitude)

            <div class="display-label">
                @Html.DisplayNameFor(p => p.Street)
            </div>
            <div class="display-field">
                @Html.DisplayFor(p => p.Street)
            </div>

            <div class="display-field">
                @Html.DisplayNameFor(p => p.Number)
                @Html.DisplayFor(p => p.Number)
            </div>

            <div class="display-field">
                @Html.DisplayNameFor(p => p.Complement)
                @Html.DisplayFor(p => p.Complement)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(p => p.Neighborhood)
            </div>
            <div class="display-field">
                @Html.DisplayFor(p => p.Neighborhood)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(p => p.City)
            </div>
            <div class="display-field">
                @Html.DisplayFor(p => p.City) / @Html.DisplayFor(p => p.State)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(p => p.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(p => p.Description)
            </div>

        </fieldset>

        <div id="address-map"></div>
        
        <div class="ui-dialog-buttonset">
            @Html.ActionLink("cancelar", "Addresses")
            <input type="submit" value="Remover" title="Remover" />
        </div>
    }
</div>