﻿@using BindSolution.Data
@model AddressViewModel
@{
    var project = (Project) ViewBag.Project;
    ViewBag.Title = project.Name + " | Editar endereço";
    if (Request.IsAjaxRequest())
    {
        Layout = null ;
    }
}
@section scriptsBefore{
    @Scripts.ByUrl("http://maps.google.com/maps/api/js?sensor=false")
}
@section scripts{

	@Scripts.Validate()
    @Scripts.Forms()
}

@section cssBefore {
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/formsAuth/css")" type="text/css" rel="stylesheet" />
}
<div id="project-top">
    @Html.Partial("_ProjectHeader", project)
</div>

@Html.Partial("_AddressForm")