﻿@using BindSolution.Data
@model ProjectViewModel
@{
	ViewBag.Title = Model.Name;
    var project = (Project) ViewBag.Project;
    
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@section cssBefore {
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/formsAuth/css")" type="text/css" rel="stylesheet" />
}

@section scripts {

	@Scripts.Validate()
    @Scripts.Forms()
}

<div id="project-top">
    @Html.Partial("_ProjectHeader", project)
</div>

@Html.Partial("_ProjectForm")