﻿@using BindSolution.Data
@using Microsoft.Web.Samples
@model IList<Project>
@section css{
    @Sprite.ImportStylesheet("~/App_Sprites/project")
}

<div class="whole-page space-container">

    <h3>projetos</h3>
    @Html.Action("ProjectList")

    @if (Request.IsAuthenticated)
    { 
        <div id="projects-draft">
            <h3>rascunho</h3>
            @Html.Action("ProjectList", new { onlyDraft = true })
            <div class="menu">
                @Html.ActionLink("Cadastrar projeto", "Create")
            </div>
        </div>
    }
</div>