﻿@using BindSolution.Data
@model Project
@{
    string actionProject = (Model.Published ? "Despublicar" : "Publicar");
	ViewBag.Title = actionProject + " projeto " + Model.Name + "?";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<div id="project-top">
        @Html.Partial("_ProjectHeader")
    </div>

@if (!Request.IsAjaxRequest())
{
    <h3 class="space-container">Deseja publicar este projeto?</h3>
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<fieldset>
		@Html.HiddenFor(p => p.ID)
	</fieldset>
	    
    if (!Request.IsAjaxRequest())
    {
        <div class="ui-dialog-buttonset">
            @Html.ActionLink("cancelar", "Admin")
            <input type="submit" value="@actionProject" title="@actionProject" />
        </div>
    }
}