.home\/99-Check\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.home\/99-Qualidade\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-49px 0px;
}
.home\/calendar\.png
{
width:40px;
height:41px;
background-image:url(sprite0.png);
background-position:-98px 0px;
}
.home\/chrome\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-139px 0px;
}
.home\/contact\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-172px 0px;
}
.home\/delicious\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-205px 0px;
}
.home\/email\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-238px 0px;
}
.home\/empty\.png
{
width:128px;
height:128px;
background-image:url(sprite0.png);
background-position:-271px 0px;
}
.home\/error\.png
{
width:128px;
height:128px;
background-image:url(sprite0.png);
background-position:-400px 0px;
}
.home\/facebook\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-529px 0px;
}
.home\/firefox\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-562px 0px;
}
.home\/follow-twitter\.png
{
width:128px;
height:128px;
background-image:url(sprite0.png);
background-position:-595px 0px;
}
.home\/google-analytcs\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-724px 0px;
}
.home\/google-maps\.png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:-789px 0px;
}
.home\/google\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-838px 0px;
}
.home\/html5-logo\.png
{
width:83px;
height:32px;
background-image:url(sprite0.png);
background-position:-871px 0px;
}
.home\/html5\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-955px 0px;
}
.home\/ie\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-988px 0px;
}
.home\/layout\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1021px 0px;
}
.home\/linkedin\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1054px 0px;
}
.home\/microsoft\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1087px 0px;
}
.home\/opera\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1120px 0px;
}
.home\/payment-card\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1153px 0px;
}
.home\/plus\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1186px 0px;
}
.home\/presentation\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1219px 0px;
}
.home\/projects\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1252px 0px;
}
.home\/rss-blog\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-1285px 0px;
}
.home\/rss\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1310px 0px;
}
.home\/safari\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1343px 0px;
}
.home\/sales\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1376px 0px;
}
.home\/seach-google\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-1409px 0px;
}
.home\/search-bing\.png
{
width:64px;
height:64px;
background-image:url(sprite0.png);
background-position:-1474px 0px;
}
.home\/twitter\.png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:-1539px 0px;
}
