﻿@helper Status(string message = null)
{
	<div class="status">
		<span class="loading">
		    <div class="spin"></div>
	    </span>
		@if (!string.IsNullOrWhiteSpace(message))
		{
			<span class="message" >@message</span>
		}
	</div>
}