﻿@using Microsoft.Web.Optimization
@helper ByUrl(string url) {
    <script src="@url" type="text/javascript"></script>
}
@helper Validate() {
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" ></script>
	<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" ></script>
}

@helper JQueryUI(bool aspCdnIfAvaliable) {
        if (aspCdnIfAvaliable)
        { 
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
        }
        else
        {
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        }
}

@helper UserVoice() {

    <script type="text/javascript">
        var uvOptions = {};
        (function () {
    	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/95wjGucNeBgeFef68tTQ.js';
    	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
    
}

@helper Forms()
    {
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/formsAuth/js")" type="text/javascript"></script>
}

@helper JQueryErrorTemplate()
    {
    <!-- JsRender -->
	<script id="span-error" type="text/x-jQuery-tmpl">
		<span for="{{=name}}" generated="true" class="">{{=message}}</span>
	</script>
}


@helper GooglePlusOne()
    {
    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
        window.___gcfg = { lang: 'pt-BR' };

        (function ()
        {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(po, s);
        })();
    </script>
}

@helper Facebook()
    {
    <div id="fb-root"></div>
    <script>    
        (function (d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=318077864884617";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
}

@helper Linkedin()
    {
    <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
}