﻿@* ReSharper disable Html.TagNotResolved *@
@* ReSharper disable PossibleNullReferenceException *@
@* ReSharper disable Html.TagNotResolved *@
@* ReSharper disable UnknownCssClass *@
@helper GooglePlusOne() {
    @*https://developers.google.com/+/plugins/+1button/*@
	<g:plusone size="medium" href="@Request.Url.AbsoluteUri"></g:plusone>
    @*tall*@
}


@helper FacebookLike() {
	@*https://developers.facebook.com/docs/reference/plugins/like/*@
    <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-layout="button_count" data-send="true" data-width="44" data-show-faces="false"></div> 
    @*data-layout="box_count"*@
}

@helper Tweet(string url, string text) {

    //url = "bindsolution.com";
    @*https://dev.twitter.com/docs/anywhere/welcome*@
    @*const string urlFormat = "https://twitter.com/share?via=bindsolution&text={1}&count=vertical&url={0}&counturl={0}";*@
    
    const string urlFormat = "https://twitter.com/share?via=bindsolution&text={1}&count=horizontal&url={0}&counturl={0}";
    <a class="twitter-share-button" href="@string.Format(urlFormat, url, text)">Tweet</a>
}
@helper FacebookComments(string url, int width = 500)
    {
    <div class="fb-comments" data-href="@url" data-num-posts="10" data-width="@width"></div>
}

@helper LinkedInShare(string url)
    {
    <script type="IN/Share" data-url="@url" data-counter="right"></script>
        @*data-counter="top"*@
}
@* ReSharper restore UnknownCssClass *@
@* ReSharper restore Html.TagNotResolved *@
@* ReSharper restore PossibleNullReferenceException *@
@* ReSharper restore Html.TagNotResolved *@