﻿@using BindSolution.Data
@model IList<Address>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var address in Model)
        {
            <li>@Html.DisplayFor(p => address, "Address")</li>
        }   
    </ul>
}
else
{
    <div class="no-data">
		<p>nenhum endereço cadastrado para o projeto!</p>
	</div>
}