﻿@model ProjectViewModel

@Html.HiddenFor(p => p.ID)

<div class="display-label">
    @Html.LabelFor(p => p.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.Name)
</div>

<div class="display-label">
    @Html.LabelFor(p => p.Keyword)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.Keyword)
</div>

<div class="display-label">
    @Html.LabelFor(p => p.WebSite)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.WebSite)
</div>

<div class="display-label">
    @Html.LabelFor(p => p.Rate)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.Rate)
</div>

<div class="display-label">
    @Html.LabelFor(p => p.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.Description)
</div>

<div class="display-label">
    @Html.LabelFor(p => p.Details)
</div>
<div class="display-field">
    @Html.DisplayFor(p => p.Details)
</div>