@using Microsoft.Web.Samples
@model IList<WebImage>

@if (Model != null && Model.Count > 0)
{
    <ul class="images">
        @foreach (var file in Model)
        {
            <li>@Html.DisplayFor(p => file, "ProjectImage")</li>
        }   
    </ul>
}
else
{
    <div class="no-data">
        @Sprite.Image("~/App_Sprites/home/empty.png")
		<p>nenhuma imagem cadastrada!</p>
	</div>    
}