@model WebImage
@{
    var pathImage = string.Format(ViewBag.PathImageTumbsFormat, Path.GetFileName(Model.FileName));
    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(Model.FileName);
}

<div class="item">
    <a href="@Href(ViewBag.PathImageFormat, Path.GetFileName(Model.FileName))" class="frame" title="@fileNameWithoutExtension" target="_blank" rel="projectImage">
        <img
            src="@Url.Content(pathImage)"
            alt="@fileNameWithoutExtension"
            width = "@Model.Width"
            height="@Model.Height"
            />
        <span class="title">@fileNameWithoutExtension</span>
    </a>
</div>
