﻿@model AddressViewModel

@Html.HiddenFor(p => p.ID)
@Html.HiddenFor(p => p.Latitude)
@Html.HiddenFor(p => p.Longitude)
<ul class="validation-summary-errors">
    <li>@Html.ValidationMessageFor(p => p.Latitude)</li>
    <li>@Html.ValidationMessageFor(p => p.Longitude)</li>
</ul>

<div class="editor-label">
    @Html.LabelFor(p => p.Display)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Display)
    @Html.ValidationMessageFor(p => p.Display)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.City)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.City)
    @Html.ValidationMessageFor(p => p.City)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Street)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Street)
    @Html.ValidationMessageFor(p => p.Street)
</div>
<div class="editor-field">
    @Html.LabelFor(p => p.Number)
    @Html.EditorFor(p => p.Number)
    @Html.ValidationMessageFor(p => p.Number)
</div>
<div class="editor-field">
    @Html.LabelFor(p => p.Complement)
    @Html.EditorFor(p => p.Complement)
    @Html.ValidationMessageFor(p => p.Complement)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Neighborhood)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Neighborhood)
    @Html.ValidationMessageFor(p => p.Neighborhood)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.State)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.State)
    @Html.ValidationMessageFor(p => p.State)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Description)
    @Html.ValidationMessageFor(p => p.Description)
</div>