﻿@model ProjectViewModel
@Html.HiddenFor(p => p.ID)

<div class="editor-label">
    @Html.LabelFor(p => p.WebSite)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.WebSite)
    @Html.ValidationMessageFor(p => p.WebSite)
</div>

<script id="unknownStatusTmpl" type="text/x-jquery-tmpl">
    <img src="@Url.Content("~/Images/status_unknown.png")" width="16px" height="16px" data-tooltip-text="{{=text}}" title="{{=text}}"></img>
</script>

<div class="editor-label">
    @Html.LabelFor(p => p.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Name)
    @Html.ValidationMessageFor(p => p.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Keyword)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Keyword)
    @Html.ValidationMessageFor(p => p.Keyword)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Logo)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Logo, "HttpPostedFileBase")
    @Html.ValidationMessageFor(p => p.Logo)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Rate)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Rate)
    @Html.ValidationMessageFor(p => p.Rate)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Description)
    @Html.ValidationMessageFor(p => p.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(p => p.Details)
</div>
<div class="editor-field">
    @Html.EditorFor(p => p.Details)
    @Html.ValidationMessageFor(p => p.Details)
</div>