@model WebImage
@{
    var fileNameWithExtension = Path.GetFileName(Model.FileName);
    var pathImage = string.Format(ViewBag.PathImageTumbsFormat, fileNameWithExtension);
    pathImage = Url.Content(pathImage);

    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(Model.FileName);
}


<div class="frame image-menu">
    <span class="title">@fileNameWithoutExtension</span>    
    <div class="menu" >
        @Html.ActionLink("x", "DeleteImage", new { ProjectID = Request["ProjectID"], FileName = fileNameWithExtension }, new { title = "Remover imagem " + fileNameWithExtension })
    </div>
    <img
        src="@pathImage"
        title="@fileNameWithoutExtension" 
        alt="@fileNameWithoutExtension"
        width = "@Model.Width"
        height="@Model.Height"
        />
</div>
