﻿@model ContactViewModel
@{
    ViewBag.Title = "Contato";
}

@section scriptsBefore{
    @Scripts.ByUrl("http://maps.google.com/maps/api/js?sensor=false")
}
@section scripts{

	@Scripts.Validate()
}
<div class="whole-page">
    <div class="space-container header-page">
	    <h3>@ViewBag.Title</h3>
	    <p class="sub-title">Dúvidas, sugestões, oportunidades? Entre em contato conosco, ficaremos felizes em atendê-los.</p>
    </div>

    <ul id="contact-persons" class="space-container">
        <li data-teml="brunoheringer">
            <h4 class="contact-persontitle">Comercial</h4>
            <p>Bruno Heringer</p>
            <a href="mailto:bruno@bindsolution.com">bruno@bindsolution.com</a>
            <p>Cel.: (31) 8822-2391</p>
        </li>
        <li data-teml="ridermansb">
            <h4 class="contact-persontitle">Suporte</h4>
            <p>Riderman de Sousa Barbosa</p>
            <a href="mailto:ridermansb@bindsolution.com">ridermansb@bindsolution.com</a>
            <p>Cel.: (31) 8681-1986 | (31) 3482-6552</p>
        </li>

    </ul>

    <div id="homecontact-form">

        @if (ViewBag.MessageLines != null)
        {
            <div class="message-result">
                @{
            var msgs = (string[])ViewBag.MessageLines;
                }
                @foreach (var msg in msgs)
                {
                    <p>@msg</p>
                }
            </div>
        }
        else
        {
            using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ajax" }))
            {
                @Scripts.JQueryErrorTemplate()
	            @Html.AntiForgeryToken()

                <fieldset id="contact-fields">
		            <legend>Enviar email</legend>
		            @Html.ValidationSummary(true)
		            @Html.EditorForModel()
	            </fieldset>

                <div class="ui-dialog-buttonset">
			        <input type="submit" value="Enviar" title="Enviar" />
	            </div>
            }
        }

    </div>

    <script id="btnCenterTmpl" type="text/x-jquery-tmpl">
        <div href="#" style="padding: 3px 6px; margin: 5px;" class="button" title="Centralizar o mapa na Bind">
            bind
        </div>
    </script>

    <div id="contact-map">
        <noscript>
            <a href="http://g.co/maps/gte87" target="_blank" title="Visualizar no Google Maps">
                <img src="@Url.Content("~/Images/gmap.png")" alt="Google Maps" />
                Rua João Gualberto Filho 453, sala 402 - Sagrada Família, BH - MG
            </a>
        </noscript>
    </div>
</div>
