﻿@using Microsoft.Web.Samples
@{
	ViewBag.Title = "bind solution";
}
@section css{
	
    @Sprite.ImportStylesheet("~/App_Sprites/home")
}

<div id="hire">
	
	<div id="frame-home" class="space-container">
        <div>
		    <ul>

                <li id="why-hire" class="centered">
	                <div class="item-container">
	                <h5>Porque sua empresa precisa de um site?</h5>
	                <a href="@Url.Action("Why")">...clique e decubra</a>
	                </div>
                </li>

                <li id="ecommerce-hire" class="left-right">
	                <div class="item-container">
		                <div class="item">
			                @Sprite.Image("~/App_Sprites/home/sales.png", new { alt = "Vendas" })
			                <span>Venda seus produtos pela internet</span> 
		                </div>

		                <div class="item">
			                @Sprite.Image("~/App_Sprites/home/payment-card.png", new { alt = "Pagamento seguro" })
                            <a href="@Url.Action("PlusTech")#security">Pagamento seguro com PayPal e Cia</a>
		                </div>	
	                </div>
                </li>

                <li id="coding-hire" class="left-right">
                    <div class="item-container">
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/html5.png", new { alt = "HTML5" })
                            <a href="@Url.Action("PlusTech")#html5css3">Melhores práticas de desenvolvimento</a>
	                    </div>
	
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/layout.png", new { alt = "Layout" })
		                    <span>Layouts práticos e diferenciados.</span>  
	                    </div>	
                    </div>
                </li>

                <li id="partner-hire" class="left-right">
                    <div class="item-container">
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/google.png", new { alt = "Soluções Google" })
                            <a href="@Url.Action("PlusBusiness")#google-apps">Soluções Google para email, calendário, contatos e muito mais.</a>
	                    </div>
	
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/microsoft.png", new { alt = "Parceiro Microsoft" })
		                    <a href="@Url.Action("PlusBusiness")#microsoft">Parceria Microsoft atestando a qualidade dos sites.</a>
	                    </div>	
                    </div>
                </li>

                <li id="share-hire" class="left-right-left">
                    <div class="item-container">
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/rss.png", new { alt = "Publique conteúdo via RSS" })
		                    <span>Publique as novidades via RSS</span> 
	                    </div>
	
	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/delicious.png", new { alt = "Integração com Delicious" })
		                    <span>Salve sua página no Delicious</span>  
	                    </div>	

	                    <div class="item">
		                    @Sprite.Image("~/App_Sprites/home/email.png", new { alt = "Contato via email" })
		                    <span>Sugestões, críticas ou dúvidas no seu email</span>  
	                    </div>	
                    </div>
                </li>

                <li id="analytcs-hire" class="left">
	                <div class="item-container">
		                <div class="item">
			                @Sprite.Image("~/App_Sprites/home/google-analytcs.png", new { alt = "Tráfego no site" })
			                <h5>Tráfego no site</h5>
			                <a href="@Url.Action("PlusBusiness")#reports">
                                <span>Acompanhe o tráfego no seu site.</span>
			                    <p>Receba em seu email um relatório de acessos ao site todo mês.</p>
                            </a> 
		                </div>
	                </div>
                </li>

                <li id="maps-hire" class="left">
	                <div class="item-container">
		                <div class="item">
			                @Sprite.Image("~/App_Sprites/home/google-maps.png", new { alt = "Tráfego no site" })
			                <h5>Google Maps</h5>
			                <span>Integração total com o Google Maps.</span> 
			                <p>Tenha sua empresa registrada  no Google Maps e integrada com seu site.</p>
		                </div>
	                </div>
                </li>

                <li id="social-hire" class="centered">
	                <div class="item-container">
	                <h5>Integração com as principais redes sociais</h5>
	                    <a href="@Url.Action("PlusBusiness")#interaction">
	                        @Sprite.Image("~/App_Sprites/home/twitter.png", new { alt = "Twitter" })
	                        @Sprite.Image("~/App_Sprites/home/facebook.png", new { alt = "Facebook" })
	                        @Sprite.Image("~/App_Sprites/home/linkedin.png", new { alt = "Linkedin" })
                        </a>
	                </div>
                </li>

                <li id="browsers-hire" class="centered">
	                <div class="item-container">
		                <h5>Suporte aos browsers mais usados</h5>
		                <div class="image-list">
                            <a href="@Url.Action("PlusTech")#cross-browser">
			                    @Sprite.Image("~/App_Sprites/home/ie.png", new { alt = "Internet Explorer" })
			                    @Sprite.Image("~/App_Sprites/home/chrome.png", new { alt = "Chrome" })
			                    @Sprite.Image("~/App_Sprites/home/firefox.png", new { alt = "Firefox" })
			                    @Sprite.Image("~/App_Sprites/home/opera.png", new { alt = "Opera" })
			                    @Sprite.Image("~/App_Sprites/home/safari.png", new { alt = "Safari" })
                            </a>
		                </div>
	                </div>
                </li>
            
		    </ul>
        </div>
	</div>

    <div id="hire-header">
	    <h2>Coloque sua empresa na internet</h2>
        <p class="sub-title">não perca mais vendas, clientes e dinheiro!</p>
    </div>
    <div id="hire-content">
        <a href="@Url.Action("Index", "Project")" id="hire-contentPortfolio">
            @Sprite.Image("~/App_Sprites/home/projects.png")
            projetos
        </a>

        <a href="@Url.Action("Contact")" id="hire-contentContact">
            @Sprite.Image("~/App_Sprites/home/contact.png")
            contato
        </a>

        <a href="@Url.Action("Plus")" id="hire-contentPlus">
            <span>mais</span>
            @Sprite.Image("~/App_Sprites/home/plus.png")
        </a>

        <div id="presentation">
            <a href="#" title="Veja esta apresentação que a Bind Solution montou para você!" class="link-presentation">
                @Sprite.Image("~/App_Sprites/home/presentation.png")
                <span>apresentação</span>
            </a>

            <div class="prezi-player">
                <style type="text/css" media="screen">.prezi-player { width: 550px; } .prezi-player-links { text-align: center; }</style>
                <object id="prezi_x6f1feewjyta" name="prezi_x6f1feewjyta" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400">
                    <param name="movie" value="http://prezi.com/bin/preziloader.swf"/>
                    <param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/>
                    <param name="bgcolor" value="#ffffff"/>
                    <param name="flashvars" value="prezi_id=x6f1feewjyta&amp;lock_to_path=1&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/>
                    <embed id="preziEmbed_x6f1feewjyta" name="preziEmbed_x6f1feewjyta" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="550" height="400" bgcolor="#ffffff" flashvars="prezi_id=x6f1feewjyta&amp;lock_to_path=1&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed>
                </object>
                <p class="sub-title">Clique em > para carregar e no centro para passar os slides.</p>
                <p class="sub-title">Você pode ampliar a tela clicando em "More/Fullscreen".</p>
            </div>
        </div>

    </div>

</div>
<div id="publicity" class="space-container">
	<div id="publicity-quality" class="publicity-item">
		<img src="@Url.Content("~/Images/blank.gif")" alt="Layouts estruturados" width="1px" height="1px" />
		<h4>Mais Qualidade</h4>
		<p>Garantia de qualidade testada e comprovada!</p>
		<a href="@Url.Action("PlusTech")#quality">leia mais</a>
	</div>

	<div id="publicity-visibility" class="publicity-item">
		<img src="@Url.Content("~/Images/Home/Visibilidade.png")" width="48px" height="48px" alt="Visibilidade" />
		<h4>Mais Visibilidade</h4>
		<p>Melhor posicionamento em buscas no Google, Yahoo e Bing.</p>
		<a href="@Url.Action("PlusBusiness")#visibility">leia mais</a>
	</div>

	<div id="publicity-happy" class="publicity-item">
		<img src="@Url.Content("~/Images/Home/ClienteFeliz.png")" width="48px" height="48px" alt="Cliente Feliz" />
		<h4>Cliente Mais Feliz</h4>
		<p>Mantemos nossos clientes como parceiros Bind.</p>
		<a href="@Url.Action("PlusBusiness")#relationship-client">leia mais</a>
	</div>
</div>

<div id="ourprojects-home" class="space-container">
    <h4 id="ourprojects-title">Projetos</h4>
    @Html.Action("ProjectList")
</div>