﻿@using Microsoft.Web.Samples
@section css {
    @Sprite.ImportStylesheet("~/App_Sprites/home-plusWhy")
}

<div class="plus-header header-page">
    <h3>Qualidade = satisfação do cliente + manutenibilidade</h3>
    <p class="sub-title">focamos na qualidade! Performance, usabilidade, segurança, visibilidade .... são consequência.</p>
</div>

<ul class="plus-list">
  <li id="html5css3" class="right">
    <div class="header"><h4>html5 & css3</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/html5.png")
        <div>
            <p>Procuramos sempre utilizar tecnologias de ponta.</p>
            <p>HTML5 e CSS3 são só alguns exemplos de tecnologias que nossa equipe utiliza.</p>
        </div>
    </div>
  </li>

  <li id="designer-partners" class="left">
    <div class="header"><h4>melhores práticas na codificação</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/designer-partners.png")
        <div>
            <p>Para garantir um website de qualidade, nossa equipe é altamente instruída e certificada pela Microsoft.<p>
            <p>Isto em conjunto com ferramentas <a href="http://br.wwwhatsnew.com/2011/06/css-lint-%E2%80%93-aponta-possiveis-problemas-em-seu-codigo-css/" target="_blank">CSS</a>/<a href="http://fellipe.com/blog/analisando-a-qualidade-de-codigo-javascript-usando-jslint/" target="_blank">JSLint</a>, <a href="http://msdn.microsoft.com/pt-br/magazine/dd263071.aspx" target="_blank">StyleCop</a> e <a href="http://code.google.com/intl/pt-BR/speed/page-speed/" target="_blank">Page Speed</a> entre outras, garantem mais segurança e qualidade para sua empresa.<p>
        </div>
    </div>
  </li>

  <li id="tests" class="right">
    <div class="header"><h4>cobertura por testes</h4></div>
    <div class="content">        
        @Sprite.Image("~/App_Sprites/home-plusWhy/0tech1-48.png")
        <div>
            <p>Com o objetivo de minimizar os riscos e garantir uma evolução segura e eficiente, utilizamos metodologias como TDD e testes automatizados.</p>
        </div>
    </div>
  </li>

  <li id="quality" class="left">
    <div class="header"><h4>garantia de qualidade</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/quality.png")
        <div>
            <p>Para comprovar a qualidade de nossos sites, disponibilizamos um relatório listando uma pontuação de 0 a 100 de seu site.</p>
            <p>Por ser um relatório gerado por uma ferramenta de terceiros (Google), isto garante ainda mais qualidade para sua empresa.</p>
        </div>    
    </div>
  </li>

  <li id="security" class="right">
    <div class="header"><h4>segurança e privacidade</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/security.png")
        <div>
            <p>Além de toda a estrutura do site oferecer segurança contra ataques <a href="http://pt.wikipedia.org/wiki/Cross-site_scripting" target="_blank" >XSS</a>, <a href="http://pt.wikipedia.org/wiki/Sql_injection" target="_blank">Injeção de SQL</a>, dados como senhas, números de cartões de crédito e telefones são criptografados!</p>
        </div>
    </div>
  </li>

  <li id="performance" class="left">
    <div class="header"><h4>performance</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/performance.png")
        <div>
            <p>Utilizamos várias técnicas de otimização de performance em nossos sites, entre elas estão <a href="http://imasters.com.br/artigo/6041/css/css_sprite/" target="_blank">CSS Sprites</a>, Compressão de JS e CSS e junção de JS e CSS</p>
        </div>
    </div>
  </li>
  
  <li id="cross-browser" class="right">
    <div class="header"><h4>compatibilidade cross browser</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/cross-browser.png")
        <div>
            <p>Utilizando três ferramentas, testamos nossos sites em diversos browsers e OS.</p>
            <p>Sua empresa com a garantia de que seu site funciona em vários browsers e em vários sistemas operacionais diferentes.</p>
        </div>
    </div>
  </li>
</ul>