﻿@using Microsoft.Web.Samples
@section css {
    @Sprite.ImportStylesheet("~/App_Sprites/home-plusWhy")
}

<div class="plus-header header-page">
    <h3>Como podemos ajudá-lo com seu negócio</h3>
    <p class="sub-title">disponibilizamos recursos e ferramentas para ajudá-lo a acompanhar e maximizar seu investimento.</p>
</div>

<ul class="plus-list">
  <li id="reports" class="right">
    <div class="header"><h4>relatórios</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/0business2-48.png")
        <div>
            <p>Acompanhe diáriamente quantos visitantes seu site está recebendo.</p>
            <p>Dezenas de relatórios, entre eles, relatórios por visitas por cidade, idioma, taxa de aceitação.</p>
        </div>
    </div>
  </li>

  <li id="interaction" class="left">
    <div class="header"><h4>interação</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/interaction.png")
        <div>
            <p>Interaja com as principais redes sociais: Facebook, Twitter e Google plus.</p>
            <p>Não se limite às redes sociais, pois seu site também pode interagir com diversas ferramentas como Dropbox, IconFinder, GetGlue, Youtube, Google Tradutor/Contatos/Calendário dentre outros exemplos.</p>
            
        </div>
    </div>
  </li>

  <li id="visibility" class="right">
    <div class="header"><h4>visibilidade</h4></div>
    <div class="content">        
        @Sprite.Image("~/App_Sprites/home-plusWhy/visibility.png")
        <div>
            <p>Ocupe ótimas posições em sites de busca como Google, Yahoo e Bing.</p>
            <p>Saiba quais as palavras-chave que seus usuários usam para chegar até seu site.</p>
        </div>
    </div>
  </li>

  <li id="relationship-client" class="left">
    <div class="header"><h4>relacionamento com o cliente</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/relationship-client.png")
        <div>
            <p>Tenha um canal de comunicação aberto com seu cliente.</p>
        </div>    
    </div>
  </li>

  <li id="deadline" class="right">
    <div class="header"><h4>prazo de entrega</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/deadline.png")
        <div>
            <p>A Bind Solution sempre cumpre os prazos estipulados pelo contrato, portanto, tenha total confiança e segurança de que estes prazos serão cumpridos. </p>
        </div>
    </div>
  </li>

  <li id="google-apps" class="left">
    <div class="header"><h4>soluções google</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/google-apps.png")
        <div>
            <p>Configuração e implantação da solução de emails da Google.</p>
            <p>Toda a interface e recursos do Gmail 100% grátis*.</p>
        </div>
    </div>
  </li>
    
  <li id="microsoft" class="right">
    <div class="header"><h4>parceria microsoft</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/microsoft.png")
        <div>
            <p>A Bind Solution é parceira Microsoft MPN. Todos os nossos sites são desenvolvidos utilizando tecnologias Microsoft.</p>
        </div>
    </div>
  </li>
</ul>