﻿@using Microsoft.Web.Samples
@section css{
	
    @Sprite.ImportStylesheet("~/App_Sprites/home-plusWhy")
}

<div id="plus-header">
    <img src="../../Images/plus.jpg" width="238px" height="160px" />
    <div>
        <h2>Você é uma pessoa técnica ou de negócios?</h2>
        <p class="sub-title">dividimos esta página em duas categorias para facilitar a compreenção.</p>
    </div>

</div>

<div id="plus-container">
    
    <div id="plus-tech">
        <img class="plus-icon" src="@Url.Content("~/Images/blank.gif")" width="238px" height="173px" alt="Técnico" />
        <h3>Sou uma pessoa técnica</h3>
        <div class="content">
            <ul class="plus-preview">
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#html5css3">
                        Desenvolvimento utilizando HTML5 & CSS3
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#designer-partners">
                        Melhores práticas na codificação
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#tests">
                        Cobertura por testes
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#quality">
                        Garantia de qualidade
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#security">
                        Segurança e privacidade
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusTech")#performance">
                        Performance
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
            </ul>

            <a href="@Url.Action("PlusTech")" class="plus-go">
                <span>... mais sobre a parte técnica</span>
                @Sprite.Image("~/App_Sprites/home-plusWhy/navigation-right.png")
            </a>
        </div>

    </div>

    <div id="plus-business">
        <img class="plus-icon" src="@Url.Content("~/Images/blank.gif")" alt="Negócio" />
        <h3>Sou uma pessoa de negócios</h3>
        <div class="content">
            <ul class="plus-preview">
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#reports">
                        Relatórios para acompanhamento dos resultados
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#interaction">
                        Interação com redes sociais e outros sistemas
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#visibility">
                        Maior visibilidade na internet
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#relationship-client">
                        Facilidade no atendimento ao cliente
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#deadline">
                        Comprometimento com o prazo de entrega
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
                <li class="@ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/check.png")">
                    <a href="@Url.Action("PlusBusiness")#google-apps">
                        Implantação de email Google (até 10 contas grátis)
                        @Sprite.Image("~/App_Sprites/home-plusWhy/plus-goIn.png")
                    </a>
                </li>
            </ul>

            <a href="@Url.Action("PlusBusiness")" class="plus-go">
                <span>... mais sobre a parte de negócios</span>
                @Sprite.Image("~/App_Sprites/home-plusWhy/navigation-right.png")
            </a>

        </div>
    </div>
</div>