﻿@using Microsoft.Web.Samples
@section css {
    @Sprite.ImportStylesheet("~/App_Sprites/home-plusWhy/")
}

<div class="plus-header">
    <div class="header-page">
        <h3>Vale a pena ter um website?</h3>
        <p class="sub-title">Conquiste novos clientes, novas oportunidades e novos horizontes.</p>
    </div>

    <div class="images">
        <div class="without-site">
            <img src="@Url.Content("~/Images/Why/find.jpg")" width="153px" height="204px" alt="Empresa sem website" />
            <p class="sub-title">não tenho site :(</p>
        </div>
        
        <div class="with-site">
            <img src="@Url.Content("~/Images/Why/ready.jpg")" width="191px" height="190px" alt="Empresa com website" />
            <p class="sub-title">tenho site :)</p>
        </div>
    </div>

</div>

<ul class="plus-list">
  <li id="247hPerDay" class="right">
    <div class="header"><h4>sua empresa 24h por dia</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/deadline.png")
        <div>
            <p>Diferente de um escritório ou loja com horários determinado para o funcionamento, o site de sua empresa estará sempre acessível.</p>
            <p>Assim você não perderá vendas ou oportunidades de negócio.</p>
        </div>
    </div>
  </li>

  <li id="economy" class="left">
    <div class="header"><h4>economia em marketing</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/economy.png")
        <div>
            <p>Com um site você estará em contato com seu público-alvo, você pode publicar notícias sobre a sua empresa sem precisar pagar uma nota em um jornal, pode divulgar seu produto novo ou promoção sem precisar pagar anúncios em tv, rádios, out-doors, jornais, etc, pois seu público já acessa seu site e, desta forma, estará bem informado!</p>
        </div>
    </div>
  </li>
  
  <li id="geography" class="right">
    <div class="header"><h4>sem  limites geográficos</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/0tech2.png")
        <div>
            <p>Você não estará limitado à cidade ou região em que atua. Poderá fazer negócios em um âmbito mundial, atingindo novos horizontes e oferecendo produtos e/ou servicos aos seus clientes de qualquer parte do mundo.</p>
        </div>
    </div>
  </li>
  
  <li id="happy-client" class="left">
    <div class="header"><h4>melhor relacionamento com o cliente</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/happy-client.png")
        <div>
            <p>Sua empresa poderá obter sugestões e reclamações de seus clientes, criando um novo canal de comunicação.</p>
            <p>Forneça respostas a questões em seu website. Pedidos/vendas podem ser processados de forma automática e imediata, quer tenha alguém no escritório quer não. </p>
            <p>Formulários online podem ser utilizados para permitir aos seus clientes imprimir orçamentos ou informações adicionais.</p>
            <p>Poupe nos custos, permitindo que possam fazer o download de propostas e outros documentos importantes.</p>
        </div>
    </div>
  </li>
  
  <li id="catalog" class="right">
    <div class="header"><h4>catálogo online</h4></div>
    <div class="content">
        @Sprite.Image("~/App_Sprites/home-plusWhy/catalog.png")
        <div>
            <p>Um website de internet é mais fácil, econômico e rápido de alterar que o material impresso. </p>
            <p>As suas capacidades são quase ilimitadas e permitem-lhe fornecer mais e melhor informação aos seus clientes. </p>
            <p>Irá também poupar dinheiro em custos de impressão e distribuição.</p>
        </div>
    </div>
  </li>
 
</ul>


<div id="why-points">
    <div class="header">
        <h3>Porque escolher a Bind Soltuion?</h3>
        <p class="sub-title">dois pontos de vista para dois tipos de pessoas.</p>
    </div>
    <div>
        <div class="tech-point">
            @Html.ActionLink("do ponto de vista técnico", "PlusTech", null, new { @class = ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/1tech1-32.png") })
        </div>
        <div class="business-point">
            @Html.ActionLink("do ponto de vista de negócios", "PlusBusiness", null, new { @class = ImageOptimizations.MakeCssClassName("~/App_Sprites/home-plusWhy/1business1-32.png") })
        </div>
    </div>
</div>
