﻿@model WebImage
@{
    var name = Path.GetFileNameWithoutExtension(Model.FileName);
}
<div class="display-label">Arquivo</div>
<div class="display-field">@Html.DisplayFor(m => name)</div>

<div class="display-label">Image</div>
<div class="display-field">

		<img 
			src="@Url.Content(ViewBag.RelativePathImage)"
			title="@name"
			alt="@name"
            width="@Model.Width"
            height="@Model.Height"
             />

</div>