﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@{
    SiteMapNodeModel current = null;
}
<div id="sitemap-path">
    
    <div class="path">
        @foreach (var node in Model) 
        { 
            @Html.DisplayFor(m => node, "sitemap-node");
            if (node.IsCurrentNode)
            {
                current = node;
            }
            if (node != Model.Last()) 
            {
                <text> <span class="separator"> &gt; </span></text>
            }
        }
    </div>
    <div class="current">
        <span>
            @Html.DisplayFor(m => current)
        </span>
    </div>


</div>