﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <text><span class="node">@Model.Title</span></text>
} else if (Model.IsClickable) { 
    <a href="@Model.Url ">@Model.Title</a>
} else { 
    <text><span class="node">@Model.Title</span></text>
}
