/* variables */
/* mixin */
/* mixin for CSS3 */
#project-top {
  overflow: hidden;
  margin: 0 21px;
  position: relative;
  padding-bottom: 25px; }

.ui-dialog #project-top {
  margin: 0;
  padding-bottom: 0; }

#project-logo {
  text-align: right;
  float: right;
  margin-top: 15px; }
  #project-logo a:hover {
    background-color: transparent; }

#project-info {
  float: left; }
  #project-info #project-title:hover {
    background-color: transparent; }
  #project-info h3 {
    margin-bottom: 0; }
  #project-info .sub-title {
    margin-bottom: 5px; }

#project-admin {
  margin: 8px 15px 4px;
  padding: 10px 12px;
  float: left; }
  #project-admin ul {
    border: 1px dotted #C5E0C5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url(/Infra/PIE.htc);
    position: relative\9;
    float: left; }
    #project-admin ul li {
      float: left;
      border-left: 1px dotted #C5E0C5;
      padding: 6px 0; }
      #project-admin ul li:first-child {
        border-left: none; }
      #project-admin ul li .project-publish {
        float: left;
        margin-left: 3px; }
      #project-admin ul li a {
        padding: 6px 10px; }
      #project-admin ul li a.project-delete {
        color: #FF6B6B;
        font-weight: bold; }
        #project-admin ul li a.project-delete:hover {
          color: #FF6B6B;
          background-color: #fff0f0; }

#project-page {
  border-top: 1px dotted #c5e0c5;
  position: relative;
  padding: 21px;
  min-height: 325px;
  margin-top: 18px; }
  #project-page .userhtml-Container {
    margin-right: 21px; }

.project-menu {
  position: absolute;
  border: 1px dotted #C5E0C5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/Infra/PIE.htc);
  position: relative\9;
  background-color: #F8FBF6; }
  .project-menu li {
    float: left;
    line-height: 35px; }
    .project-menu li a, .project-menu li .item {
      padding: 10px;
      margin: 10px 0; }

#project-shared-button {
  left: 36px;
  top: -23px; }
  #project-shared-button li .item img {
    vertical-align: middle; }

#project-shared {
  left: 36px;
  top: -23px;
  display: none; }
  #project-shared li {
    line-height: normal;
    margin: 5px; }

#project-menu {
  right: 25px;
  top: -19px; }
  #project-menu .selected a {
    background-color: #eff6ec;
    border-left: 1px dotted #c5e0c5;
    border-right: 1px dotted #c5e0c5; }
  #project-menu .selected:hover a {
    color: #38761d; }

#project-container .status {
  position: absolute;
  overflow: visible;
  height: 23px;
  width: 240px;
  top: 45%;
  left: 41%; }
#project-container .userhtml-Container {
  margin-top: 10px; }
