﻿@import "_Base";

#project-top {
    overflow: hidden;
    margin: 0 21px;
    position: relative;
    padding-bottom: 25px;
}
.ui-dialog #project-top {
    margin: 0;
    padding-bottom: 0;
}

#project-logo {
    text-align: right;
    float:right;
    margin-top: 15px;
    a:hover {
        background-color: transparent;
    }
}

#project-info { 
    float:left;

    #project-title:hover {
        background-color: transparent;
    }
    h3 {
        margin-bottom: 0;
    }

    .sub-title {
        margin-bottom: 5px;
    }
}

#project-admin {
    margin: 8px 15px 4px;
    padding: 10px 12px;
    float: left;

    ul {
        border: 1px dotted #C5E0C5;
        @include border-radius(3px);
        float: left;
        li {
            float: left;
            border-left: 1px dotted #C5E0C5;
            padding: 6px 0;
            &:first-child {
                border-left: none;
            }

            .project-publish {
                float : left;
                margin-left: 3px;
            }

            a {
                padding: 6px 10px;
            }

            a.project-delete {
                color: #FF6B6B;
                font-weight: bold;
                &:hover {
                    color: #FF6B6B;
                    background-color: lighten(#FF6B6B, 26%);
                }
            }
        }
    }
}
#project-page {

    border-top: 1px dotted $wrap-bordercolor;
    position: relative;
    padding: 21px;
    min-height: 325px;
    margin-top: 18px;
    .userhtml-Container {
        margin-right: 21px;
    }

}

.project-menu {
    position: absolute;
    border: 1px dotted #C5E0C5;
    @include border-radius(3px);
    background-color: #F8FBF6;
    li {
        float:left;
        line-height: 35px;
        a, .item {
            padding: 10px;
            margin: 10px 0;
        }
    }
}
#project-shared-button {
    left: 36px;
    top: -23px;

    li .item img {
        vertical-align: middle;
    }
}
#project-shared {
    left: 36px;
    top: -23px;
    display: none;
    li {
        line-height: normal;
        margin: 5px;
    }
}
#project-menu {
    right: 25px;
    top: -19px;
    
    .selected a {
        background-color: lighten($bind-lightgreen, 46%);
        border-left: 1px dotted $wrap-bordercolor;
        border-right: 1px dotted $wrap-bordercolor;
    }
    .selected:hover a {
        color: $bind-darkgreen;
    }
}
#project-container {
    .status {
        
        position: absolute;
        overflow: visible;
        height: 23px;
        width: 240px;
        top: 45%;
        left: 41%;
    }

    .userhtml-Container {
        margin-top: 10px;
    }
}