/* variables */
/* mixin */
/* mixin for CSS3 */
#addresses-map {
  width: 97%;
  height: 400px;
  box-shadow: 0 0 4px #d7f2cb;
  margin-top: 10px;
  border: 1px dotted #c4ecb3; }

#addresses {
  border-radius: 3px;
  padding: 6px;
  font-size: 17px;
  margin: 5px; }

.infowindow {
  min-width: 245px;
  min-height: 60px;
  overflow: visible; }
  .infowindow .infowindow-menu {
    border-top: 1px solid #c5e0c5;
    margin-top: 10px;
    padding-top: 5px; }
    .infowindow .infowindow-menu a {
      float: right;
      margin-left: 5px;
      margin-right: 0; }
