﻿@import "_Base";

#addresses-map {
    width: 97%;
    height: 400px;
    @include box-shadow();
    margin-top: 10px;
    border: 1px dotted darken($field-bordercolor, 6%);
}

#addresses {
    @include border-radius(3px);
    padding: 6px; 
    font-size:17px; 
    margin: 5px; 
}

.infowindow {
    min-width: 245px;
    min-height: 60px;
    overflow: visible;
    .infowindow-menu {
        border-top: 1px solid $wrap-bordercolor;
        margin-top: 10px;
        padding-top: 5px;

        a {
            float: right;
            margin-left: 5px;
            margin-right: 0;
        }

    }
}
