﻿@import "_Base";

#photos-table {
    margin: 10px;
}

#photos-add {
    clear: both;
    margin: 10px;
    .qq-uploader .qq-upload-list  li {
        list-style-type: none;
    }

    #Images {
        margin-bottom: 5px;
    }
}

#addresses-table {
    margin: 10px;
}