/* variables */
/* mixin */
/* mixin for CSS3 */
#photos-table {
  margin: 10px; }

#photos-add {
  clear: both;
  margin: 10px; }
  #photos-add .qq-uploader .qq-upload-list li {
    list-style-type: none; }
  #photos-add #Images {
    margin-bottom: 5px; }

#addresses-table {
  margin: 10px; }
