﻿
#project-create\.page, #project-edit\.page, #project-dialog {
 
    .editor-label {
        width: 110px;
    }

    .editor-field {
        position: relative;
    }

    // Fields
    #Rate {
        width: 40px;
    }
    #WebSite {
        width: 200px;
    }
    #Details {
        width: 550px;
        height: 290px
    }

    .status {
        width: 257px;
        margin-left: 350px;
    }

    .message-result {
        padding: 235px 0
    }

    //Loaders
    #WebSiteLoader {
        position: absolute;
        top: 11px;
        right: -16px;
    }

}