#project-create\.page .editor-label, #project-edit\.page .editor-label, #project-dialog .editor-label {
  width: 110px; }
#project-create\.page .editor-field, #project-edit\.page .editor-field, #project-dialog .editor-field {
  position: relative; }
#project-create\.page #Rate, #project-edit\.page #Rate, #project-dialog #Rate {
  width: 40px; }
#project-create\.page #WebSite, #project-edit\.page #WebSite, #project-dialog #WebSite {
  width: 200px; }
#project-create\.page #Details, #project-edit\.page #Details, #project-dialog #Details {
  width: 550px;
  height: 290px; }
#project-create\.page .status, #project-edit\.page .status, #project-dialog .status {
  width: 257px;
  margin-left: 350px; }
#project-create\.page .message-result, #project-edit\.page .message-result, #project-dialog .message-result {
  padding: 235px 0; }
#project-create\.page #WebSiteLoader, #project-edit\.page #WebSiteLoader, #project-dialog #WebSiteLoader {
  position: absolute;
  top: 11px;
  right: -16px; }
