/* variables */
/* mixin */
/* mixin for CSS3 */
#projectAddress-form #Description {
  width: 450px;
  height: 200px; }
#projectAddress-form #Number, #projectAddress-form #Complement {
  width: 50px; }
#projectAddress-form label[for='Number'], #projectAddress-form label[for='Complement'], #projectAddress-form label[for='Longitude'] {
  margin: 0 10px; }
#projectAddress-form .editor-label, #projectAddress-form .display-label {
  width: 70px; }
#projectAddress-form .status {
  width: 170px; }

.ui-dialog-content #projectAddress-form .message-result {
  padding-top: 90px; }
.ui-dialog-content #projectAddress-form .status {
  margin-left: 145px;
  padding-top: 100px; }
