﻿@import "_Base";

#projectAddress-form {

    // Fields
    #Description {
        width: 450px;
        height: 200px
    }

    #Number, #Complement {
        width: 50px;
    }

    label[for='Number'], label[for='Complement'], label[for='Longitude'] {
        margin: 0 10px;
    }


    .editor-label, .display-label {
        width: 70px;
    }

    .status {
        width: 170px;
    }
}

.ui-dialog-content {
    #projectAddress-form {
        .message-result {
            padding-top: 90px;
        }
        .status {
            margin-left: 145px;
            padding-top: 100px;
        }

    }
}