﻿@import "_Base";

#projectDeleteAddress-form {

    // Fields
    fieldset {
        float:left;
        max-width: 395px;
        
        label {
            font-weight: bold;
        }

        #Description {
            width: 450px;
            height: 200px
        }

        #Number, #Complement {
            width: 50px;
        }

        label[for='Number'], label[for='Complement'], label[for='Longitude'] {
            margin-left: 10px;
        }
    }

    .editor-label, .display-label {
        width: 70px;
    }

    .status {
        width: 170px;
        margin-left: 140px;
        padding-top: 145px;
    }
}

#address-map {
    float: right;
    margin: 10px 21px 25px;
    width: 400px;
    height: 250px;
    @include box-shadow();
    border: 1px dotted darken($field-bordercolor, 6%);
}