/* variables */
/* mixin */
/* mixin for CSS3 */
#projectDeleteAddress-form fieldset {
  float: left;
  max-width: 395px; }
  #projectDeleteAddress-form fieldset label {
    font-weight: bold; }
  #projectDeleteAddress-form fieldset #Description {
    width: 450px;
    height: 200px; }
  #projectDeleteAddress-form fieldset #Number, #projectDeleteAddress-form fieldset #Complement {
    width: 50px; }
  #projectDeleteAddress-form fieldset label[for='Number'], #projectDeleteAddress-form fieldset label[for='Complement'], #projectDeleteAddress-form fieldset label[for='Longitude'] {
    margin-left: 10px; }
#projectDeleteAddress-form .editor-label, #projectDeleteAddress-form .display-label {
  width: 70px; }
#projectDeleteAddress-form .status {
  width: 170px;
  margin-left: 140px;
  padding-top: 145px; }

#address-map {
  float: right;
  margin: 10px 21px 25px;
  width: 400px;
  height: 250px;
  box-shadow: 0 0 4px #d7f2cb;
  border: 1px dotted #c4ecb3; }
