﻿@import "_Base";

#project-index\.page {

    #projects-draft {
        overflow: hidden;
        clear:both;
    }
     

    h3 {
        margin-bottom: 15px;
        clear: both;
    }

    .menu {
        text-align: center;
        clear: both;
    }
}