/* variables */
/* mixin */
/* mixin for CSS3 */
#project-index\.page #projects-draft {
  overflow: hidden;
  clear: both; }
#project-index\.page h3 {
  margin-bottom: 15px;
  clear: both; }
#project-index\.page .menu {
  text-align: center;
  clear: both; }
